@charset "utf-8";
/* CSS Document */

body {
	background-color:#151616;
	margin:0;
	padding:0;
	background-image:url(images/bg_blank.jpg);
	background-repeat:repeat-y;
	background-position:center top;
}

#topContainer {
	background-image:url(images/bg_top.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:880px;
	height:80px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#bottomContainer {
	background-image:url(images/bg_footer.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	width:880px;
	height:100px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#container {
	background-image:url(images/bg_main.jpg);
	background-repeat:repeat-y;
	background-position:center top;
	width:880px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}