@charset "utf-8";
/* CSS Document */
p {
	margin:0;
	padding:0;
}

body {
	background-color:#8f8d81;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}

#mainContainer {
	background-image:url(images/bg_main.jpg);
	background-repeat:repeat-x;
	background-color:#8f8d81;
	background-position:center top;
	padding:0;
	margin:0;
}

#pageContainer {
	width:984px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(images/bg_repeat.png);
	background-repeat:repeat-y;
	font-size:14px;
	color:#c9c9c9;
	padding:0;
	margin:0;
	line-height:20px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

a {
	font-size:14px;
	color:#ffffff;
}
	

h1 {
	margin:0;
	padding:0;
	padding-top:20px;
}

h1 a {
	font-size:36px;
	color:#fdee70;
	text-decoration:none;
}

h1 a:hover {
	color:#ebebeb;
}


h3 {
	font-size:20px;
	margin:0;
	padding-top:20px;
	padding-bottom:8px;
	color:#faeac9;
}

.changeList {
	padding-left:112px;
	padding-right:112px;
}

#homeLink {
	position:absolute;
	top:37px;
	left:104px;
}

#bg_top {
	background-image:url(images/bg_top.jpg);
	background-repeat:no-repeat;
	width:984px;
	height:1280px;
}

#bg_bottom{
	background-image:url(images/bg_bottom.jpg);
	background-repeat:no-repeat;
	width:984px;
	height:1320px;
}

#content_top {
	position:absolute;
	width:490px;
	top:918px;
	left:370px;
	
}

#content_bottom {
	position:absolute;
	width:490px;
	top:1546px;
	left:114px;
	
}

#movieGrid {
	padding-top:20px;
	width:758px;
	margin-left:auto;
	margin-right:auto;
}

.movieThumb {
	margin:0;
	paddng:0;
	float:left;
	width:250px;
	padding-right:4px;
}

.movieThumbTitle {
	padding-left:5px;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#6f6c67;
}


#dayNav {
	position:absolute;
	right:60px;
	top:208px;
	font-size:26px;
	text-align:right;
	font-weight:bold;
	color:#665f52;
}

a.standardLink {
	color:#faeac9;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	text-decoration:none;
}

.standardLink:hover {
	color:#FFFFFF;
}

a.secret {
	color:#ababab;
	text-decoration:none;
}

#dayNav a {
	color:#faeac9;
	font-weight:bold;
	font-size:26px;
	text-decoration:none;
}

#dayNav a:hover {
	color:#FFFFFF;
}

.pike {
	font-size:26px;
}

.footerShadowBottom {
	height:60px;
	background-image:url(images/footerShadowBottom.jpg);
	background-position:top;
	background-repeat:no-repeat;
}

/* Language Select */
#languageSelect {
	padding-top:8px;
	color:#9c8e8a;
	height:100px; 
}

#languageSelect a {
	color:#5a4744;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
}

#languageSelect a:hover {
	color:#FFFFFF;
}

#forumLink {
	padding-top:14px;
}

#forumLink a {
	text-decoration:none;
	color:#5a4744;
	font-size:22px;
	font-weight:bold;
}

#forumLink a:hover {
	color:#FFFFFF;
}

#digg {
	padding-top:12px;
	padding-bottom:20px;

}



ul {
	color:#ababab;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	list-style-position: outside;
	margin-left: 0;
	padding-top:6px;
	padding-bottom:6px;
	
}

li {
		margin:0;
		padding:0;
		padding-left:40px;
		padding-bottom:6px;
		background: url(images/arrow.gif) no-repeat 0px 3px;

}

.sub_bullets {
	color:#888888;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:60px;
	padding-bottom:6px;
	line-height:26px;
}
	

