@charset "utf-8";
/* CSS Document */

body {
	background-color:#000000;
	background-image:url(images/bg_dark.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	padding:0;
	margin:0;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#c9c9c9;
}

#vid_bucket {
	padding-top:88px;
}
	
