@charset "utf-8";
/* CSS Document */
p {
	margin:0;
	padding:0;
}

body {
	background-color:#bbaca5;
	/*background-color:#3f2c28; */
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}

#mainContainer {
	background-image:url(images/main_bg.jpg);
	background-repeat:repeat-x;
	background-color:#bbaca5;
	padding:0;
	margin:0;
}

#pageContainer {
	width:880px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	padding:0;
	margin:0;
	line-height:18px;
	position:relative;
}

#homeLink {
	position:absolute;
	top:37px;
	left:50px;
}

#dayNav {
	position:absolute;
	right:60px;
	top:208px;
	font-size:26px;
	text-align:right;
	font-weight:bold;
	color:#665f52;
}

#dayNav a {
	color:#faeac9;
	font-weight:bold;
	font-size:26px;
	text-decoration:none;
}

#dayNav a:hover {
	color:#FFFFFF;
}

.pike {
	font-size:26px;
}

	

#footer {
	background-image:url(images/footerBG.jpg);
	height:60px;
	width:820px;
}

#footerLogo {
	padding-left:20px;
	width:111px;
	float:left;
}

#copyright {
	float:right;
	color:#a3a3a3;
	font-size:10px;
	text-align:left;
	width:660px;
	padding-right:20px;
	padding-top:8px;
	line-height:normal;
}

.footerShadowBottom {
	height:60px;
	background-image:url(images/footerShadowBottom.jpg);
	background-position:top;
	background-repeat:no-repeat;
}

/* Language Select */
#languageSelect {
	padding-top:8px;
	color:#9c8e8a;
	height:100px; 
}

#languageSelect a {
	color:#5a4744;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
}

#languageSelect a:hover {
	color:#FFFFFF;
}

#forumLink {
	padding-top:14px;
}

#forumLink a {
	text-decoration:none;
	color:#5a4744;
	font-size:22px;
	font-weight:bold;
}

#forumLink a:hover {
	color:#FFFFFF;
}

#digg {
	padding-top:12px;
	padding-bottom:20px;

}

/* Day 01 */

#day01_background {
	background-image:url(images/01_background.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}

#day01_background {
	background-image:url(images/01_background_x.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2146px;
}

#day01_background_german {
	background-image:url(images/01_background_german.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}


#day01_background_french {
	background-image:url(images/01_background_french.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}

#day01_background_swedish {
	background-image:url(images/01_background_swedish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}

#day01_background_italian {
	background-image:url(images/01_background_italian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}

#day01_background_spanish {
	background-image:url(images/01_background_spanish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}

#day01_background_russian {
	background-image:url(images/01_background_russian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:2040px;
}


#day01_content_a {
	color:#c9c9c9;
	width:480px;
	padding-top:648px;
	padding-left:320px;
}

#day01_content_b {
	color:#c9c9c9;
	width:480px;
	padding-top:860px;
	padding-left:320px;
}

#day01_content_b_spanish {
	color:#c9c9c9;
	width:480px;
	padding-top:840px;
	padding-left:320px;
}

#day01_content_b_italian{
	color:#c9c9c9;
	width:510px;
	padding-top:860px;
	padding-left:320px;
}

#hat1 {
	position:absolute;
	top:998px;
	left:62px;
}

#hat2 {
	position:absolute;
	top:998px;
	left:319px;
}

#hat3 {
	position:absolute;
	top:998px;
	left:574px;
}

#hatstack {
	position:absolute;
	top:744px;
	left:200px;
}

#day01_screen_a {
	position:absolute;
	top:1832px;
	left:62px;
}

#day01_screen_b {
	position:absolute;
	top:1832px;
	left:189px;
}

#day01_screen_c {
	position:absolute;
	top:1915px;
	left:189px;
}

/* Day 02 */

#day02_background {
	background-image:url(images/02_background.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}

#koth {
	position:absolute;
	left:279px;
	top:639px;
}

#day02_background_german {
	background-image:url(images/02_background_german.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}
#day02_background_french {
	background-image:url(images/02_background_french.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}
#day02_background_swedish {
	background-image:url(images/02_background_swedish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}
#day02_background_spanish {
	background-image:url(images/02_background_spanish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}
#day02_background_italian {
	background-image:url(images/02_background_italian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}

#day02_background_russian {
	background-image:url(images/02_background_russian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1760px;
}

#day02_screen_a {
	position:absolute;
	top:1220px;
	left:61px;
}

#day02_screen_b {
	position:absolute;
	top:1220px;
	left:144px;
}

#day02_screen_c {
	position:absolute;
	top:1220px;
	left:227px;
}

#day02_content_a {
	color:#c9c9c9;
	width:490px;
	padding-top:664px;
	padding-left:61px;
}

#day02_content_b {
	color:#c9c9c9;
	width:504px;
	position:absolute;
	top:1316px;
	left:61px;
}

#day02x_content_b {
	color:#c9c9c9;
	width:504px;
	position:absolute;
	top:1346px;
	left:61px;
}

#day02x_screen_a {
	position:absolute;
	top:1250px;
	left:61px;
}

#day02x_screen_b {
	position:absolute;
	top:1250px;
	left:144px;
}

#day02x_screen_c {
	position:absolute;
	top:1250px;
	left:227px;
}

#day02_content_b_german {
	color:#c9c9c9;
	width:550px;
	position:absolute;
	top:1346px;
	left:61px;
}

/* Day 02 */

#day03_background_top {
	background-image:url(images/03_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}

#day03_background_top_german {
	background-image:url(images/03_top_german.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}

#day03_background_top_swedish {
	background-image:url(images/03_top_swedish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}

#day03_background_top_spanish {
	background-image:url(images/03_top_spanish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}


#day03_background_top_italian {
	background-image:url(images/03_top_italian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}

#day03_background_top_french {
	background-image:url(images/03_top_french.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}

#day03_background_top_russian {
	background-image:url(images/03_top_russian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1026px;
}

#day03_background_repeat {
	background-image:url(images/03_repeat.gif);
	background-repeat:repeat-y;
	width:880px;
}

#day03_background_bottom {
	background-image:url(images/03_bottom.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}

#day03_background_bottom_german {
	background-image:url(images/03_bottom_german.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}
#day03_background_bottom_french {
	background-image:url(images/03_bottom_french.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}
#day03_background_bottom_swedish {
	background-image:url(images/03_bottom_swedish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}
#day03_background_bottom_spanish {
	background-image:url(images/03_bottom_spanish.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}
#day03_background_bottom_italian {
	background-image:url(images/03_bottom_italian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}
#day03_background_bottom_russian {
	background-image:url(images/03_bottom_russian.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:700px;
}

#day03_content_a {
	position:absolute;
	color:#c9c9c9;
	width:490px;
	top:806px;
	left:64px;
}

#day03_content_b {
	color:#c9c9c9;
	width:750px;
	padding-left:64px;
}

#day03_content_c {
	color:#c9c9c9;
	width:498px;
	padding-top:428px;
	padding-left:64px;
}

#day03_screens {
	float:right;
	width:244px;
	padding-top:428px;
	padding-right:60px;
}

#day03_screen_1	{
	padding-right:4px;
}

#day03_screen_3	{
	float:left;
	padding-top:4px;
}

ul {
	color:#ababab;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	list-style-position: outside;
	margin-left: 0;
	padding-top:6px;
	padding-bottom:6px;
	
}

li {
		margin:0;
		padding:0;
		padding-left:40px;
		padding-bottom:6px;
		background: url(../images/arrow.gif) no-repeat 0px 3px;

}

.sub_bullets {
	color:#888888;
	font-size:14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:60px;
	padding-bottom:6px;
	line-height:26px;
}
	

