@charset "utf-8";
/* CSS Document */

body {
	background-color:#111111;
	margin:0;
	padding:0;
	background-image:url(images/bg_repeat.jpg);
	background-repeat:repeat-y;
	background-position:center top;
}

#bgTop {
	background-image:url(images/bg_top.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	min-height:800px;
}

#pageContainer {
	width:888px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
	text-align:center;
	color:#c3c3c3;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	padding-top:100px;
}
#comic {
/*
	width:796px;
	margin:0;
	padding:0;
	text-align:center;
*/
}





a	{
	color:#6088c4;
	text-decoration:none;
}

a:hover	{
	color:#ffffff;

}
	

#nav_top {
	position:absolute;
	right:46px;
	top:30px;
	text-align:right;
}

#nav_bottom {
	float:right;
	padding-right:46px;
	padding-top:14px;
}



#homeLink {
	position:absolute;
	display:block;
	width:234px;
	height:77px;
	background-image:url('images/tf2_logo.png');
	background-repeat:no-repeat;
	background-position:bottom;
	left:40px;
	top:10px;
}
#homeLink:hover {
	background-position:top;
}


#valve {
	text-align:left;
	padding-left:40px;
	padding-top:14px;
}

#footer {
	background-image:url(images/bg_footer.jpg);
	background-repeat:no-repeat;
	height:120px;
}

