body {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#cvLoader {
	display: none;
}

#cvOverlay {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000000;
	display: block;
	margin: 0 auto;
	opacity: 0;
}

#cvErrorOverlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	display: none;
	margin: 0 auto;
	opacity: .5;
	z-index: 2;
}

.cvImg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}