body {
	background:#0c0e10;
}
#container_01, #content_01 {
	background-image:url('../images/hub_01.jpg');
	height:1100px;
}
#container_02, #content_02 {
	background-image:url('../images/hub_02.jpg');
	height:1255px;
}
#menu {
	top:28px;
}
#battlefield {
	right:99px;
	top:58px;
	width:370px;
	height:261px;
}
#battlefield:hover {
	background-image:url('../images/battlefield_glow.jpg');
}
#factory {
	left:101px;
	top:77px;
	width:373px;
	height:242px;
	z-index:2;
}
#factory:hover {
	background-image:url('../images/factory_glow.jpg');
}
#frame_h {
	width:108px;
	height:44px;
	left:248px;
	top:277px;
	z-index:3;
}
#frame {
	width:150px;
	height:178px;
	left:224px;
	top:255px;
	z-index:1;
}
#frame_h:hover ~ #frame,#frame:hover {
	background-image:url('../images/frame_glow.jpg');
}
#comic_stack {
	width:291px;
	height:201px;
	right:164px;
	top:306px;
}
#comic_stack:hover {
	background-image:url('../images/comic_glow.jpg');
}
#label {
	left:61px;
	top:847px;
	width:873px;
	height:44px;
}
#label:hover {
	background-image:url('../images/label_glow.jpg');
}
.video {
	position:absolute;
	width:854px;
	height:480px;
	left:65px;
	top:275px;
}