body {
	background-color: #161514;
	margin: 0;
	color: #FFF;
	font-family: arial;
	font-size: 14px;
	background: #171717 url('../images/art_background.jpg') no-repeat;
	background-position: top center;
}
#container {
	width:1024px;
	margin: 0 auto;
	position: relative;
}
#comic {
	cursor: pointer;
	position: relative;
	width: 1024px;
	height: 768px;
	top:112px;
	display:none;
	margin: 0 auto;
	box-shadow: 0 0 13px 13px #171717;
}
#infobar {
	position: absolute;
	width: 1024px;
	margin: 0 auto;
	top: 900px;
}

#instructions {
	background: url('https://steamcdn-a.akamaihd.net/apps/tf2/common/images/comicviewer/infobar.png') no-repeat;
	width: 488px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	padding-top: 21px;
	font-size:20px;
	position:relative;
}

#links {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	line-height: 24px;
	font-size: 16px;
}
#links a {
	color: #CB8226;
	text-decoration: none;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}
#links a:hover {
	color: #FFA430;
}