body {
	background:#131517;
	margin:0;
	padding:0;
}
img {
	border:0;
}
div {
	position: absolute;
}
.container {
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}
.content {
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
}
#header {
	background-image:url('../images/header_menu.jpg');
	height:195px;
}
.text {
	font-family: Arial;
	color:#d5d5d5;
	line-height:19px;
	font-size:14px;
}
.glow {
	position: absolute;
	background-repeat: no-repeat;
}
#menu {
	width:916px;
	height:100px;
	left:38px;
	top:73px;
}
.buffer {
	float:left;
	clear:left;
	position: relative;
	height:19px;
}
.button_menu {
	position:relative;
	height:100px;
	float:left;
	background-repeat:no-repeat;
}
#menu_tf2 {
	width:263px;
}
#menu_tf2:hover{
	background-image:url('../images/tf2_btn.jpg');
}
#menu_pg1 {
	width:152px;
}
#menu_pg1:hover {
	background-image:url('../images/pg1_btn.jpg');
}
#menu_pg2 {
	width:144px;
}
#menu_pg2:hover {
	background-image:url('../images/pg2_btn.jpg');
}
#menu_comic {
	width:173px;
}
#menu_comic:hover {
	background-image:url('../images/comic_btn.jpg');
}
#menu_hub {
	width:184px;
}
#menu_hub:hover {
	background-image:url('../images/hub_btn.jpg');
}
.button:hover {
	background-position: bottom;
}
#legal {
	position:absolute;
	left:46px;
	bottom:310px;
	width:888px;
	height:30px;
	display:block;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/blizzbobarrabas/legal.png);
}
#tf2_logo_footer {
	position:absolute;
	bottom:205px;
	left:370px;
	width:240px;
	height:92px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/mechaupdate/images/tf_logo_footer.png);
}
#store_logo_footer {
	position:absolute;
	bottom:86px;
	left:401px;
	width:182px;
	height:100px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/mechaupdate/images/store_logo_footer.png);
}
#loader {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}
#logo {
	cursor: pointer;
	position: relative;
	left: 0px;
	top: 28px;
	background: url('https://steamcdn-a.akamaihd.net/apps/tf2/common/images/comicviewer/tf_logo.png') no-repeat;
	width: 272px;
	height: 70px;
	float: left;
	-webkit-transition: background .1s ease-in;
	-moz-transition: background .1s ease-in;
	-o-transition: background .1s ease-in;
}
#logo:hover {
	background: url('https://steamcdn-a.akamaihd.net/apps/tf2/common/images/comicviewer/tf_logo_over.png') no-repeat;
}
#title {
	cursor: pointer;
	position: relative;
	top: 40px;
	background: url('../images/comic_title.png') no-repeat;
	width: 330px;
	height: 40px;
	float: right;
	-webkit-transition: background .1s ease-in;
	-moz-transition: background .1s ease-in;
	-o-transition: background .1s ease-in;
}
#title:hover {
	background: url('../images/comic_title_hover.png') no-repeat;
}
#return {
	cursor: pointer;
	position: relative;
	background: url('../images/boogaloo_logo.png');
	width: 180px;
	height:110px;
	float: left;
	-webkit-transition: background .1s ease-in;
	-moz-transition: background .1s ease-in;
	-o-transition: background .1s ease-in;
}
#return:hover {
	background: url('../images/boogaloo_logo_hover.png');
}
.gallery_button {
	cursor: pointer;
	position: relative;
	background:url(../images/gallery_title.png);
	width: 204px;
	height: 59px;
	float: right;
	top:30px;
	-webkit-transition: background .1s ease-in;
	-moz-transition: background .1s ease-in;
	-o-transition: background .1s ease-in;
}
.gallery_button:hover {
	background:url(../images/gallery_title_hover.png);
}
#credits {
	bottom:110px;
	width:100%;
	position:absolute;
}
#inner_credits {
	position: relative;
	margin:auto;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight:bold;
}