#credits {
	top:180px;
	bottom:auto;
}
#container_01, #content_01 {
	background-image:url('../images/credits_01.jpg');
	height:537px;
}
#container_02, #content_02 {
	background-image:url('../images/credits_02.jpg');
	height:788px;
}
#container_03, #content_03 {
	background-image:url('../images/credits_03.jpg');
	height:461px;
}
#container_04, #content_04 {
	background-image:url('../images/credits_04.jpg');
	height:767px;
}
.pos {
	position:absolute;
	width:984px;
}
#production_pos {
	top:43px;
}
#production_block {
	width:626px;
	position:relative;
	margin:auto;
	text-align: center;
}
.production_row {
	width:626px;
	height:80px;
	margin-bottom:8px;
	position:relative;
	float:left;
}
#artist_pos {
	top:39px;
}
#artist_block {
	position:relative;
	margin:auto;
	width:780px;
	text-align: center;
}
.artist_row {
	width:780px;
	height:48px;
	margin-bottom:10px;
	position:relative;
	float:left;
}
#contributor_pos {
	top:44px;
}
#contributor_block {
	position:relative;
	margin:auto;
	width:780px;
	text-align: center;
}
.contributor_row {
	width:780px;
	height:48px;
	margin-bottom:10px;
	position:relative;
	float:left;
}
.contributor_row:last-child {
	width:516px;
	margin: 0 auto;
	float: none;
	display: inline-block;
}
#return_credits {
	width:762px;
	height:402px;
	left:109px;
	position:absolute;
}
#return_credits:hover {
	background:url(../images/credits_boogaloo_hover.jpg);
}
#tf2_credits {
	width:280px;
	height:66px;
	top:42px;
	left:336px;
	position:absolute;
}
#tf2_credits:hover {
	background:url(../images/credits_tf2_hover.jpg);
}
#legal {
	bottom: 100px;
}