.icon {
	height:40px;
	width:245px;
}
.medium {
	width:300px;
	height:72px;
}
.icon, .medium {
	position:relative;
	float:left;
	margin-right:10px;
	background:#141416;
	padding:4px;
	border-radius: 4px;
	text-align: left;
}
.icon:last-child, .medium:last-child {
	margin:0 auto;
	float:none;
	display: inline-block;
}
.iconholder {
	background-image: url(https://steamcommunity.com/public/images/skin_1/iconholder_offline.jpg);
	height: 32px;
	width: 32px;
	padding: 4px;
	position:relative;
	float:left;
}
.online > .iconholder {
	background-image:url(https://steamcommunity.com/public/images/skin_1/iconholder_online.jpg);
}
.ingame > .iconholder {
	background-image:url(https://steamcommunity.com/public/images/skin_1/iconholder_ingame.jpg);
}
.mediumholder {
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-image: url(../images/iconholder_64_offline.png);
	padding: 4px;
	position:relative;
	float:left;
}
.online > .mediumholder {
	background-image: url(../images/iconholder_64_online.png);
}
.ingame > .mediumholder {
	background-image: url(../images/iconholder_64_ingame.png);
}
.text {
	color:#898989;
}
.name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left:10px;
	position:relative;
	float:left;
	font-weight:bold;
}
.role {
	position:relative;
	float:left;
	line-height:36px;
	width:215px;
	padding-left:13px;
	color:white;
}
.state {
	position:relative;
	float:left;
	margin-left:15px;
	top:10px;
}
.icon > .name {
	line-height: 40px;
	width:190px;
}
.medium > .name {
	width:215px;
	padding-left:13px;
	line-height: 36px;
	font-size:18px;
}
.offline:hover > .text {
	color:#696969;
}
.online > .text {
	color:#6FBDFF;
}
.online:hover > .text {
	color:#4796d8;
}
.ingame > .name {
	color:#B1FB50;
}
.ingame:hover > .text {
	color:#70B04A;
}
.role, .online > .role, .ingame > .role, .online:hover > .role, .ingame:hover > .role, .offline:hover > .role {
	color:#d5d5d5;
}
.role.long {
	line-height:18px;
}