#container {
	width:1024px;
}
div {
	position:relative;
}
.artwork {
	max-width:1024px;
	max-height:768px;
	opacity:0;
	box-shadow: 0 0 13px 13px #171717;
	transition:box-shadow .1s ease-in;
	border:1px solid black;
}
.artwork:hover {
	box-shadow: 0 0 13px 13px #141416;
}
body {
	margin: 0;
	background: #171717 url('../images/art_background.jpg') no-repeat;
	background-position: top center;
}
#display {
	width:1024px;
	max-height:768px;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	float:left;
	margin-top:8px;
}
#container {
	width:1024px;
	margin:auto;
}
#credits {
	position:relative;
	bottom:auto;
	height:48px;
	display: inline-block;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
}
#art_credits {
	width:245px;
	height:48px;
	background:#141416;
	float:right;

}
#top {
	width:1024px;
	float:left;
	height:110px;
}
.art_title {
	height:40px;
	float:left;
	transition:background .1s ease-in;
}
#hello_friends_title {
	background:url(../images/egg/hello_friends.png);
	width:183px;
}
#hello_friends_title:hover {
	background:url(../images/egg/hello_friends_hover.png);
}
#clunk_title {
	background:url(../images/egg/clunk.png);
	width:412px;
}
#clunk_title:hover {
	background:url(../images/egg/clunk_hover.png);
}
#bites_brigade_title {
	background:url(../images/egg/bites_brigade.png);
	width:246px;
}
#bites_brigade_title:hover {
	background:url(../images/egg/bites_brigade_hover.png);
}
#gaggle_title {
	background:url(../images/egg/gaggle.png);
	width:313px;
}
#gaggle_title:hover {
	background:url(../images/egg/gaggle_hover.png);
}
#upgrade_title {
	background:url(../images/egg/upgrade.png);
	width:288px;
}
#upgrade_title:hover {
	background:url(../images/egg/upgrade_hover.png);
}
#dapper_medibot_title {
	background:url(../images/egg/dapper_medibot.png);
	width:426px;
}
#dapper_medibot_title:hover {
	background:url(../images/egg/dapper_medibot_hover.png);
}
#shako_title {
	background:url(../images/egg/shako.png);
	width:262px;
}
#shako_title:hover {
	background:url(../images/egg/shako_hover.png);
}
#brobots_title {
	background:url(../images/egg/brobots.png);
	width:121px;
}
#brobots_title:hover {
	background:url(../images/egg/brobots_hover.png);
}
#jealousy_title {
	background:url(../images/egg/jealousy.png);
	width:362px;
}
#jealousy_title:hover {
	background:url(../images/egg/jealousy_hover.png);
}
#final_stand_title {
	background:url(../images/egg/final_stand.png);
	width:165px;
}
#final_stand_title:hover {
	background:url(../images/egg/final_stand_hover.png);
}
#let_us_fight_title {
	background:url(../images/egg/let_us_fight.png);
	width:543px;
}
#let_us_fight_title:hover {
	background:url(../images/egg/let_us_fight_hover.png);
}
#victory_title {
	background:url(../images/egg/victory_title.png);
	width:271px;
}
#victory_title:hover {
	background:url(../images/egg/victory_title_hover.png);
}
#rock_mann_title {
	background:url(../images/egg/rock_mann.png);
	width:235px;
}
#rock_mann_title:hover {
	background:url(../images/egg/rock_mann_hover.png);
}
#future_engy_01_title {
	background:url(../images/egg/future_engy_01.png);
	width:461px;
}
#future_engy_01_title:hover {
	background:url(../images/egg/future_engy_01_hover.png);
}
#future_engy_02_title {
	background:url(../images/egg/future_engy_02.png);
	width:178px;
}
#future_engy_02_title:hover {
	background:url(../images/egg/future_engy_02_hover.png);
}