@charset "utf-8";
/* CSS Document */

body {
	background-color:#151616;
	margin:0;
	padding:0;
	background-image:url(images/bg_main.jpg);
	background-repeat:repeat-y;
	background-position:center top;
}

#pageContainer {
	width:880px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	text-align:right;
	color:#c3c3c3;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

#bgTop {
	background-image:url(images/bg_top.jpg);
	background-repeat:no-repeat;
	height:100px;
}

a	{
	color:#888888;
	text-decoration:none;
}

a:hover	{
	color:#ffffff;

}
	

#nav_top {
	position:absolute;
	right:40px;
	top:30px;
}

#nav_bottom {
	float:right;
	padding-right:40px;
	padding-top:14px;
}



#homeLink {
	position:absolute;
	left:43px;
	top:10px;
}


#valve {
	text-align:left;
	padding-left:40px;
	padding-top:14px;
}

#footer {
	background-image:url(images/bg_footer.jpg);
	background-repeat:no-repeat;
	height:120px;
}

#comic {
	width:880px;
	margin:0;
	padding:0;
	text-align:center;
}



