@charset "utf-8";
/* CSS Document */

body {
	background-color:#2e2a27;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-image:url(images/main_bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}

p {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#acacac;
}

ul {
	list-style-type: dash;
}

li {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#acacac;
	
}

h1 {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:28px;
	color:#cccccc;
}

a {
	text-decoration:none;
	color:#c48d2b;
}

a:hover {
	text-decoration:underline;
}

#bg_top {
	background-image:url(images/bg_top.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	width:946px;
	height:736px;
	position:relative;	
}

#bg_links{
	background-image:url(images/bg_links.gif);
	background-repeat:repeat-y;
	margin-right:auto;
	margin-left:auto;
	width:946px;
	position:relative;	
}

#links_top {
	margin-right:auto;
	margin-left:auto;
	width:946px;
}

#links_content {
	padding-left:44px;
	padding-top:14px;
	width:858px;
}

#bg_repeat {
	background-image:url(images/bg_repeat.gif);
	background-repeat:repeat-y;
	margin-right:auto;
	margin-left:auto;
	width:946px;
	position:relative;	
}

#bg_footer {
	background-image:url(images/bg_footer.jpg);
	background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	background-position:top center;
	width:946px;
	height:240px;
	position:relative;	
}

#engy {
	position:absolute;
	top:0px;
	right:-40px;
}

#logo {
	position:absolute;
	top:158px;
	left:44px;
}

#intro {
	position: absolute;
	top:302px;
	left:44px;
	width:690px;
}

#faq {
	padding-left:44px;
	padding-top:28px;
	width:858px;
}



