html, body, * {
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
}

body {
	background-color:#2e2a28;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/class_repeat_bg.jpg');
	background-repeat:repeat-y;
	background-position:center;
	margin:0;
	padding:0;
}

a,a:hover,a:visited,a:active {
	color:#b35215;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	text-decoration:underline;
}

#pageContainer {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/class_top_bg.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
	min-height:1023px;
}

#centerColumn {
	width:984px;
	margin:auto;
	text-align:left;
}

#primaryHeaderArea {
	height:426px;
	width:984px;
	position:relative;
	overflow:visible;
}

#headerCharsBGImg,#transparentMapper {
	height:426px;
	width:1068px;
	position:absolute;
	top:0px;
	left:-34px;
	z-index:20;
}
#transparentMapper {
	z-index:50;
}

#getItBtn {
	position:absolute;
	display:block;
	z-index:60;
	width:302px;
	height:60px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/btn_getitnow.png');
	background-position:top;
	top:344px;
	left:233px;
}
#getItBtn:hover {
	background-position:bottom;
}

.charOnImage {
	position:absolute;
	z-index:40;
	display:none;
}
#charSniper {
	width:214px;
	height:262px;
	top:0px;
	left:-34px;
}
#charPyro {
	width:182px;
	height:200px;
	top:45px;
	left:133px;
}
#charScout {
	width:157px;
	height:244px;
	top:19px;
	left:250px;
}
#charSoldier {
	width:206px;
	height:242px;
	top:21px;
	left:360px;
}
#charEngineer {
	width:203px;
	height:214px;
	top:49px;
	left:489px;
}
#charMedic {
	width:221px;
	height:283px;
	top:0px;
	left:627px;
}
#charHeavy {
	width:284px;
	height:329px;
	top:0px;
	left:750px;
}
#charDemoman {
	width:235px;
	height:184px;
	top:242px;
	left:653px;
}
#charSpy {
	width:124px;
	height:264px;
	top:162px;
	left:835px;
}

#blogNavMenu {
	position:absolute;
	top:2px;
	left:66px;
	width:541px;
	height:28px;
	z-index:500;
}

#centerColContent {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_2col_bg.png');
	background-repeat:repeat-y;
	width:984px;
	position:relative;
}

#contentRightCol {
	float:right;
	width:350px;
	margin:0;
	padding:0;
	padding-left:6px;
	padding-top:174px;
	background-repeat:no-repeat;
	background-position:top;
	overflow:visible;
	position:relative;
}

#featuringSpotlight {
	position:absolute;
	top:-48px;
	left:-34px;
/*	width:340px;
	height:220px; */
	z-index:999;
}


#rightColSearchBox {
	position:relative;
	width:296px;
	height:56px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_search_bg.png');
	background-repeat:no-repeat;
}

#searchButton {
	position:absolute;
	left:207px;
	top:16px;
	width:74px;
	height:24px;
}

#searchInput {
	position:absolute;
	top:14px;
	left:14px;
	border:solid #756c64 1px;
	margin:0;
	background-color:#bcb3a9;
	padding:6px 8px;
	width:166px;
	height:12px;
	color:#514840;
	font-size:11px;
}

#buttonBlock1 {
	margin-top:12px;
	width:296px;
	height:93px;
	position:relative;
}
#buttonBlock2 {
	margin-top:2px;
	width:296px;
	height:93px;
	position:relative;
}
#buttonBlock3 {
	margin-top:2px;
	width:296px;
	height:93px;
	position:relative;
}
#manncoSpotlight {
	margin-top:10px;
	margin-bottom:8px;
	width:298px;
	height:309px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_spotlight.png');
	position:relative;
}

.keys {
	margin-top:10px;
	margin-bottom:8px;
	width:298px;
	height:89px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_keys.png');
	position:relative;
}


#goodsSpotlight2 {
	margin-top:10px;
	margin-bottom:8px;
	width:298px;
	height:278px;
}	

#contentLeftCol {
	margin:0;
	padding:0;
	width:628px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_leftcol_top_bg2.png');
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:83px;
	position:relative;
	z-index:30;
}

#leftColTabs {
	width:247px;
	height:24px;
	position:absolute;
	top:52px;
	left:54px;
	z-index:30;
}

#subscribeLink {
	text-align:right;
	padding-right:25px;
}

#link_rss,#link_rss:hover,#link_rss:active,#link_rss:visited {
	display:block;
	float:right;
	margin-left:5px;
	margin-top:-1px;
	color:#766e65;
	text-decoration:none;
	font-size:12px;
}

#leftColPosts {
	padding-left:62px;
	padding-right:12px;
}

.postBottomHR {
	width:552px;
	height:2px;
	margin:6px 0px 18px 0px;
}

.postLink,.postLink:hover,.postLink:active,.postLink:visited {
	font-size:28px;
	color:#b35215;
	font-weight:bold;
	text-decoration:none;
}

#leftColPosts h2 {
	font-weight:normal;
	margin:0;
	margin-bottom:10px;
}

#leftColPosts p {
	margin:0;
	padding:0;
	line-height:20px;
	color:#363636;
}

.aHoverVertShift {
	display:block;
	float:left;
	background-position:top;
	background-repeat:no-repeat;
}
.aHoverVertShift:hover {
	background-position:bottom;
}
#blog_menu_movies,#blog_menu_comics,#blog_menu_history,#blog_menu_artwork,#blog_menu_home {
	height:28px;
}
#blog_menu_home {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_menu_home.png');
	width:93px;
}
#blog_menu_movies {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_menu_movies.png');
	width:105px;
}
#blog_menu_comics {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_menu_comics.png');
	width:102px;
}	
#blog_menu_history {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_menu_history.png');
	width:115px;
}	
#blog_menu_artwork {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_menu_artwork.png');
	width:126px;
}	

ul {
	color:#5c5c5c;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	list-style-position: outside;
	margin-left: 0;
}
li {
		margin: .5em 0 .5em 0;
		padding:0;
		padding-left:40px;
		background: url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_arrow.png') no-repeat 0px 3px;

}
#navNewer {
	float:right;
}

#centerFooter {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/sp_bottom_bg.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
	height:218px;
}
#footerContainer {
	width:984px;
	height:52px;
	margin:auto;
	text-align:left;
}
#blogSearchForm {
	margin:0;
	padding:0;
}

#tab_blog_new,#tab_news_new,#tab_updates_new {
	position:absolute;
	top:-9px;
}
#tab_blog_new {
	left:43px;
}
#tab_news_new {
	left:118px;
}
#tab_updates_new {
	left:219px;
}
.btn {
	position:absolute;
	display:block;
	background-repeat:no-repeat;
	background-position:top;
}
.btn:hover {
	background-position:bottom;
}	
#workshop_btn,#wiki_btn,#gamehub_btn,#sfm_btn,#market_btn,#sheet_music_btn  {
	width:148px;
	height:93px;
	top:0px;
	left:0px;
}
#workshop_btn {
	left:148px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_workshop_btn.png?v=10');
}
#wiki_btn {
	left:0px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_wiki_btn.png?v=10');
}
#gamehub_btn {
	left:148px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_gamehub_btn.png');
}
#sfm_btn {
	left:0px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_sfm_btn.png?v=10');
}
#market_btn {
	left:0px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_market_btn.png');
}
#sheet_music_btn {
	left:148px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_sheet_music_btn.png?v=10');
}
#communityButtons {
	position:relative;
	height:71px;
	width:296px;
	margin-top:10px;
}
#comm_fb,#comm_forums {
	position:absolute;
	width:148px;
	height:35px;
	top:0px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_community_fb.png');
}
#comm_forums {
	left:148px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_community_forums.png');
}
#comm_twitter,#comm_reddit {
	position:absolute;
	width:148px;
	height:36px;
	top:35px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_community_twitter.png');
}
#comm_reddit {
	left:148px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_community_reddit.png');
}
#f2pBlock {
	position:relative;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/f2p_bg.png');
	width:298px;
	height:164px;
	margin:8px 0px;
}
#f2pLink {
	position:absolute;
	width:280px;
	height:40px;
	background-position:top;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/button_f2p.png');
	top:114px;
	left:8px;
}
#f2pLink:hover {
	background-position:bottom;
}
#contactBlock a,#contactBlock a:hover,#contactBlock a:visited,#contactBlock a:active {
	color:#c36815;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
}
#contactBlock {
	margin-top:10px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_valve_contact_short.png');
	width:268px;
	height:133px;
	padding:49px 15px 0px 15px;
	background-repeat:no-repeat;
	position:relative;
	color:#aba9a8;
	text-align:left;
}
#contactBlock p {
	margin:0;
	padding:0;
	margin-bottom:18px;
	line-height:17px;
}

#spotlight_item_name {
	color:#d7d7d7;
	font-weight:bold;
	font-size:16px;
	padding-top:237px;
	padding-left:16px;
}

#spotlight_item_price {
	color:#d7d7d7;
	font-weight:bold;
	font-size:16px;
	padding-top:24px;
	padding-left:16px;
}

#spotlight_item_oldprice {
	color:#a2a2a2;
	font-size:12px;
	padding-left:0;
	font-weight:normal;
	text-decoration:line-through;
}

#spotlight_item_image {
	position:absolute;
	top:48px;
	left:52px;
}

#spotlight_item_button {
	position:absolute;
	top:273px;
	right:15px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/btn_buynow.png');
}

#spotlight_link {
	width:298px;
	height:263px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/blog_spotlight_link.png');
	z-index:50;
}

.keys_name {
	color:#d7d7d7;
	font-weight:bold;
	font-size:16px;
	padding-top:14px;
	padding-left:16px;
}

.keys_price {
	color:#d7d7d7;
	font-weight:bold;
	font-size:16px;
	padding-top:24px;
	padding-left:16px;
}

.keys_qty{
	position:absolute;
	top:0px;
	right:15px;
	color:#a2a2a2;
	font-size:12px;
	padding-top:14px;
	padding-left:16px;
}

.keys_total {
	color:#d7d7d7;
	background-color:#373431;
	border:1px solid #716c67;
	font-size:14px;
	text-align:right;
	width:30px;
	padding-right:2px;
}

.keys_button {
	position:absolute;
	top:53px;
	right:15px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/blog/images/btn_buynow.png');
}

#spyskull {
	position:absolute;
	top:208px;
	right:90px;
	z-index:999;
}

#bloodsplatter {
	position:absolute;
	top:350px;
	left:23px;
	z-index:999;
}

#bloodsplatter2 {
	position:absolute;
	top:267px;
	left:16px;
	z-index:999;
}


