html, body, * {
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
}

body {
	background-color:#2e2a28;
	background-image:url('images/class_repeat_bg.jpg');
	background-repeat:repeat-y;
	background-position:center;
	margin:0;
	padding:0;
}

a,a:hover,a:visited,a:active {
	color:#b35215;
	text-decoration:none;
	font-weight:bold;
}

a:hover {
	text-decoration:underline;
}

img{
	border: 0;
}

#pageContainer {
	background-image:url('images/class_top_bg.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
	min-height:1023px;
}
#centerFooter {
	background-image:url('images/sp_bottom_bg.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
	height:218px;
}
#footerContainer {
	width:984px;
	height:52px;
	margin:auto;
	text-align:left;
}

#centerColumn {
	width:984px;
	margin:auto;
	text-align:left;
}

#primaryHeaderArea {
	height:103px;
	width:984px;
	position:relative;
	overflow:visible;
}

#headerAreaImage {
	position:absolute;
	top:0;
	left:0;
	width:984px;
	height:103px;
	z-index:10;
}
#spNavMenu {
	position:absolute;
	top:45px;
	left:342px;
	width:520px;
	height:28px;
	z-index:999;
}
#logoLink {
	position:absolute;
	top:30px;
	left:70px;
	z-index:999;
}

#centerColContent {
	width:984px;
	position:relative;
}

.aHoverVertShift {
	display:block;
	float:left;
	background-position:top;
	background-repeat:no-repeat;
}
.aHoverVertShift:hover {
	background-position:bottom;
}
#sp_menu_movies,#sp_menu_comics,#sp_menu_history,#sp_menu_artwork {
	height:28px;
}
#sp_menu_home {
	background-image:url('images/sp_menu_home.png');
}
#sp_menu_movies {
	background-image:url('images/sp_menu_movies.png');
}
#sp_menu_comics {
	background-image:url('images/sp_menu_comics.png');
}	
#sp_menu_history {
	background-image:url('images/sp_menu_history.png');
}	
#sp_menu_artwork {
	background-image:url('images/sp_menu_artwork.png');
}	

ul {
	color:#5c5c5c;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	list-style-position: outside;
	margin-left: 0;
}
li {
		margin:0;
		padding:0;
		padding-left:40px;
		padding-bottom:15px;
		background: url('images/blog_arrow.png') no-repeat 0px 3px;

}
#navNewer {
	float:right;
}

.classSelectorLink,.classSelectorSelected {
	display:block;
	float:left;
}

#classSelector {
	position:absolute;
	top:7px;
	left:22px;
	width:436px;
	height:104px;
	background-image:url('images/class_selector_base.png');
	background-repeat:no-repeat;
	z-index:900;
}

#classCard {
	width:984px;
	height:623px;
	position:relative;
	background-repeat:no-repeat;
	background-position:top center;
	z-index:10;
}
#classBioText {
	position:absolute;
	top:380px;
	left:80px;
	width:426px;
	color:#46423d;
	line-height:20px;
}

#movieCard {
	position:relative;
	width:984px;
	height:644px;
	background-image:url('images/class_movie_bg1.png');
	background-position:top center;
	background-repeat:repeat-y;
}

#movieCardBG2 {
	position:absolute;
	width:900px;
	height:644px;
	top:0px;
	left:42px;
	z-index:10;
}

#movieCardTitle {
	position:absolute;
	top:0;
	left:42px;
	width:900px;
	height:97px;
	padding:0;
	margin:0;
	z-index:900;
}

#movieYoutubeIframe {
	width:854px;
	height:510px;
	border:none;
	position:absolute;
	top:87px;
	left:65px;
	z-index:999;
}

#movieMoreLink {
	position:absolute;
	top:610px;
	left:82px;
	z-index:999;
}
#arsenalCard {
	position:relative;
	width:984px;
	height:403px;
	background-image:url('images/class_arsenal_bg1.png');
	background-repeat:repeat-y;
	background-position:center;
}
#arsenalToTopLink {
	position:absolute;
	width:25px;
	height:138px;
	left:23px;
	bottom:50px;
	z-index:999;
}
#arsenalCardBG2 {
	position:absolute;
	width:888px;
	height:403px;
	top:0px;
	left:48px;
	z-index:10;
}
#arsenalMoreLink {
	position:absolute;
	bottom:10px;
	left:82px;
	z-index:999;
}

