
#navBarBGRepeat {
	width:100%;
	height:58px;
	position:relative;
	background-color: #110F0F;
}

#navBarShadow {
	position:absolute;
	width:100%;
	height: 12px;
	top: 58px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/images/header/navshadow.png');
	z-index: 100;
}

#navBarBG {
	width:100%;
	height:66px;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tfstore/images/header/nav_bar.png');
	text-align:center;
}

#navBar {
	width: 938px;
	height: 69px;
	padding: 0;
	margin: 0 auto;
	text-align: left;
}

#navBar:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

#navBar .navBarItem {
	position: relative;
	display: inline-block;
	margin: -6px 17px 0 -11px;
	vertical-align: middle;
	padding-top: 0;
}

#navBar .bg {
	background-color: #bc5616;
	border-radius: 5px;
}

#navBar a.navBarItem img.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

#navBar a.navBarItem:hover img.top {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	padding-top: 0;
}

.externalLinkIcon {
	display: inline-block;
	background-image: url('https://steamcdn-a.akamaihd.net/apps/tfstore/images/header/external_header_icon.png');
	background-repeat: no-repeat;
	min-width: 8px;
	min-height: 8px;
	margin: 0 0 0 3px;
	padding: 0;
}

a.navBarItem:link, a.navBarItem:active, a.navBarItem:visited {
	text-decoration:none;
	color: #969AA1;
}

a.navBarItem:hover {
	color: #ffffff;
}

#navLoginAndLanguage {
	position:absolute;
	width:938px;
	text-align:right;
	top:3px;
	padding-right:10px;
	font-size:11px;
}

#navLoginAndLanguage a, #navLoginAndLanguage a:hover, #navLoginAndLanguage a:visited, #navLoginAndLanguage a:active {
	color:#cdc1a9;
	text-decoration:none;
	font-size:11px;
}

#navLoginAndLanguage a:hover {
	color:#ffffff;
}

#languageSelector {
	float:right;
}

#languageList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:999999;
	position:absolute;
	right:10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#languageList a {
	display:block;
	padding:3px 6px;
}

#languageList a:hover {
	background-color:#555555;
}

#adminSelector {
	float:right;
}

#adminList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#adminList a {
	display:block;
	padding:3px 6px;
}

#adminList a:hover {
	background-color:#555555;
}

