/*CSS for new tf2 pages*/

body{
	margin: 0;
	padding:  0;
	background: #252221;
	font-family: Arial, Helvetica, sans-serif;
	color: #363636;

}

a{
	text-decoration: none;
	color: #b05115;
	font-weight: bold;
}

img{
	border: 0;
}

p{
	margin: 1em 0;
}

#main_content, #top_menu, #footer{
	width: 895px;
	margin: 0 auto;
	padding: 10px;
}

#main_content{
	background: url("images/bg_content.png") repeat-y;
	z-index: 5;
	padding: 0;
}

#pageContainer{
	background: url("images/bg_repeat.png") repeat-y;
	background-position: top center;
	min-height: 100%;


}

#background_topper{
	background-image: url("images/bg_center.png");
	background-repeat: no-repeat;
	background-position: top center;
	padding: 15px;
}

#top_menu{
	/*define background and height in individual css files*/
	width: 895px;
	padding: 0;
	font-size: 14px;
}

#blurb{
	position: relative;
	top: 57px;
	left: 311px;
	width: 500px;
	line-height: 1.4;
}

/*navigation madness*/
#nav_menu{
	float: right;
	padding: 25px 0 0 0;
	width: 600px;
}

*+html #nav_menu{ /*IE7 only*/
	margin-top: -100px;
}

.nav{
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}
.navlink {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
	

/*footer business is serious business*/
#footer{
	background: url(images/bg_footer.png);
	padding: 10px 20px;
	width: 855px;
	height: 32px;
	margin-top: -5px;
}

#footer_logo{
	float: left;
	padding-right: 10px;
}

#copyright{
	font-size: 10px;
	color: #918e84;
}

#bg_bottom{
	background-image: url("images/bg_bottom.png");
	background-position:center;
	background-repeat: no-repeat;
	height: 322px;
	margin-top: -5px;
}

/*captions*/
.caption_main, .caption_date{
	display: block;
	margin: 0 5px;
	color: #3b3632;
}

.caption_main{
	font-size: 14px;
	font-weight: bold;
}

.caption_date{
	font-size: 12px;
}

.caption_main a{
	text-decoration: none;
	color: #3b3632;
}