/*CSS file for the F2P FAQ*/


body{
	font-size: 14px;
}

#top_menu{
	margin-bottom: -65px;
	text-align: center;
	position: relative;
	z-index: 999;
	width: 913px;
}

#main_content{
	background-image: none;
	width: 913px;
	overflow: visible;

}

#topper{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/topper.png");
	height: 643px;
	width: 953px;
	margin-left: -25px;
	margin-top: -100px;
	
}

#body_image{
	background-image:url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/main.png");
	height: 1133px;
	width: 988px;
	margin-left: -82px;
}

#learnmore{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/learnmore.png");
	height: 122px;
	width: 828px;
	position: absolute;
	top: 820px;
	margin-left: 68px;
	padding-top: 65px;
}

#bottom_piece{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/bottom_piece.png");
	height: 430px;
	width: 903px;
	margin-left: 3px;
}

#share_container{
	position: absolute;
	top: 2172px;
	margin-left: 290px;
}

/*all the buttons*/
.button{
	display: block;
	background-position: top;
}

.button:hover{
	background-position: bottom;
}

#getit1, #getit2{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/button_getit_2.png");
	height: 51px;
	width: 370px;
	position: absolute;
}

#getit1{
	top: 150px;
	left: 270px;
}

#getit2{
	top: 2020px;
	margin-left: 270px;
}

#faq{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/button_faq.png");
	height: 87px;
	width: 198px;
	float: left;
	margin-left: 15px;
}

#tf2com{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/button_tf2com.png");
	height: 87px;
	width: 198px;
	float: left;
	margin-left: 7px;
}

#free{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/button_free.png");
	height: 87px;
	width: 198px;
	float: left;
	margin-left: 7px;
}

#metacritic{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/F2P/button_metacritic.png");
	height: 187px;
	width: 186px;
	margin-left: 635px;
	margin-top: -65px;
}

/*share buttons*/

#facebook, #twitter, #buzz, #stumble, #reddit, #myspace, #digg{
	width: 60px;
	height: 60px;
	float: left;
	margin: 11px;
}

#facebook{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/facebook.png");
}

#twitter{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/twitter.png");
}

#buzz{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/buzz.png");
}

#stumble{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/stumble.png");
}

#reddit{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/reddit.png");
}

#myspace{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/myspace.png");
}

#digg{
	background-image: url("https://steamcdn-a.akamaihd.net/apps/tf2/share/digg.png");
}

/*text boxes*/

#caption{
	font-style: italic;
	position: absolute;
	top: 786px;
	margin-left: 220px;
	font-size: 18px;
}

#team{
	width: 400px;
	position: absolute;
	margin-left: 548px;
	top: 1118px;
	line-height: 1.35;
}

#environment{
	width: 240px;
	position: absolute;
	margin-left: 128px;
	top: 1470px;
	line-height: 1.35;
}

#customize{
	width: 408px;
	position: absolute;
	margin-left: 546px;
	top: 1760px;
	line-height: 1.35;
}

/*share buttons*/
