@charset "utf-8";
/* CSS Document */

body {
	background-color:#000;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#c3c4bb;
	text-align:left;
}

p {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#d4d7dd;
	text-align:left;
}

a {
	text-decoration:none;
	color:#6b6b6b;
	font-size:14px;
}

a:hover {
	color:#e8e9e9;
}

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1223px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:990px;
}

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1060px;
	z-index:2;
}

#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1090px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:800px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1146px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:352px;
}

#copy_01 {
	position:absolute;
	width:724px;
	left:120px;
	top:18px;
	font-size:16px;
	line-height:25px;
}

#copy_02 {
	position:absolute;
	width:724px;
	left:120px;
	top:860px;
	font-size:16px;
	line-height:25px;
	z-index:200;
}

#copy_03 {
	position:absolute;
	width:520px;
	left:108px;
	top:360px;
	font-size:16px;
	line-height:25px;
}

#copy_04 {
	position:absolute;
	width:404px;
	left:474px;
	top:270px;
	font-size:16px;
	line-height:25px;
}

#copy_05 {
	position:absolute;
	width:724px;
	left:102px;
	top:196px;
	font-size:16px;
	line-height:245x;
}


/* --- achievements --- */

#achievements {
	position:absolute;
	width:900px;
	left:0px;
	top:136px;
}
	

#WIN_ROUNDS_NAME {
	position:absolute;
	left:180px;
	top:132px;
}

#WIN_ROUNDS_DESC {
	position:absolute;
	left:180px;
	top:158px;
}

#rare_spell_name {
	position:absolute;
	left:180px;
	top:202px;
}

#rare_spell_desc {
	position:absolute;
	left:180px;
	top:228px;
}

#KILL_BROTHERS_NAME {
	position:absolute;
	left:180px;
	top:277px;
}

#KILL_BROTHERS_DESC {
	position:absolute;
	left:180px;
	top:303px;
}

#SKELETON_GRIND_NAME {
	position:absolute;
	left:180px;
	top:348px;
}

#SKELETON_GRIND_DESC {
	position:absolute;
	left:180px;
	top:374px;
}

#KILL_GRIND_NAME {
	position:absolute;
	left:574px;
	top:132px;
}

#KILL_GRIND_DESC {
	position:absolute;
	left:574px;
	top:158px;
}

#ENVIRONMENTAL_KILLS_NAME {
	position:absolute;
	left:574px;
	top:202px;
}

#ENVIRONMENTAL_KILLS_DESC {
	position:absolute;
	left:574px;
	top:228px;
}

#SKULL_ISLAND_REWARD_NAME {
	position:absolute;
	left:574px;
	top:277px;
}

#SKULL_ISLAND_REWARD_DESC {
	position:absolute;
	left:574px;
	top:303px;
}

#MILESTONE_NAME {
	position:absolute;
	left:574px;
	top:348px;
}

#MILESTONE_DESC {
	position:absolute;
	left:574px;
	top:374px;
}

.name {
	font-size: 16px;
	font-weight: bold;
	color: #ee7727;
}

.desc {
	font-size: 16px;
}


/* --- end achievements --- */

.title {
	font-size: 16px;
	font-weight: bold;
}



#legal {
	position:absolute;
	left:48px;
	bottom:238px;
	width:888px;
	height:30px;
	display:block;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/legal.png);
}


#tf2_logo {
	position:absolute;
	top:31px;
	left:17px;
	width:262px;
	height:66px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/tf2_logo.png);
}

#comic {
	position:absolute;
	top:267px;
	right:-40px;
	width:260px;
	height:267px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bazbobarrabus/images/comic.png);
}

.button:hover {
	background-position:bottom;
}




