#container_01, #content_01 {
	background-image:url('../images/factory_01.jpg');
	height:910px;
}
#container_02, #content_02 {
	background-image:url('../images/factory_02.jpg');
	height:1100px;
}
#container_03, #content_03 {
	background-image:url('../images/factory_03.jpg');
	height:909px;
}
#container_04, #content_04 {
	background-image:url('../images/factory_04.jpg');
	height:800px;
}
#container_05, #content_05 {
	background-image:url('../images/factory_05.jpg');
	height:707px;
}
#text_01 {
	top:0px;
	width:590px;
	left:20px;
}
#text_02 {
	right:18px;
	width:495px;
	top:9px;
}
#tyrants {
	right:367px;
	bottom:341px;
	width:302px;
	height:339px;
	background-position: 55px 0px;
}
#tyrants:hover {
	background-image:url('../images/tyrants_glow.jpg');
}
#tyrolean {
	left:387px;
	top:715px;
	width:159px;
	height:143px;
}
#tyrolean:hover {
	background-image:url('../images/tyrolean_glow.jpg');
}
#beak {
	right:289px;
	top:705px;
	width:172px;
	height:192px;
}
#beak:hover {
	background-image:url('../images/beak_glow.jpg');
}
#scout {
	right:244px;
	top:374px;
	width:146px;
	height:142px;
}
#scout:hover {
	background-image:url('../images/scout_glow.jpg');
}
#mombot {
	left:216px;
	top:0px;
	width:169px;
	height:379px;
}
#mombot:hover {
	background-image:url('../images/mombot_glow.jpg');
}
#hotdog {
	left:355px;
	top:27px;
	width:136px;
	height:168px;
}
#hotdog:hover {
	background-image:url('../images/hotdog_glow.jpg');
}
#buffer_01 {
	height:76px;
	width:110px;
}
#buffer_02 {
	height:38px;
	width:90px;
}
#buffer_03 {
	height:19px;
	width:70px;
}