@charset "utf-8";
/* CSS Document */

body {
	background-color:#141313;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#cacaca;
	font-size:14px;
	line-height:22px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
}

a:hover {
	color:#a82e2e;
}

img {
	border:none;
}



#logoLink {
	display:block;
	position:absolute;
	top:44px;
	left:324px;
	width:220px;
	height:50px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/logolink.png?v=102);
	background-position:top;
}
#logoLink:hover {
	background-position:bottom;
}

#faq_logoLink {
	display:block;
	position:absolute;
	top:60px;
	left:388px;
	width:220px;
	height:50px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/logolink.png?v=102);
	background-position:top;
}
#faq_logoLink:hover {
	background-position:bottom;
}

#updatelogoLink {
	display:block;
	position:absolute;
	top:128px;
	left:392px;
	width:211px;
	height:118px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/gunmettle_logo_small.png?v=102);
	background-position:top;
}
#updatelogoLink:hover {
	background-position:bottom;
}

#comicLink {
	display:block;
	position:absolute;
	top:132px;
	left:770px;
	width:226px;
	height:200px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/comiclink.png?v=102);
}
	
	#comicLink:hover {
	background-position:bottom;
}

#dayoneOn {
	display:block;
	position:absolute;
	top:41px;
	left:574px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/dayone_on.png?v=102);
}

	#dayoneOn:hover {
	background-position:bottom;
}

#daytwoOff {
	display:block;
	position:absolute;
	top:41px;
	left:689px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/daytwo_off.png?v=102);
}

	#daytwoOff:hover {
	background-position:bottom;
}

#dayoneOff {
	display:block;
	position:absolute;
	top:41px;
	left:574px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/dayone_off.png?v=102);
}

	#dayoneOff:hover {
	background-position:bottom;
}

#daytwoOn {
	display:block;
	position:absolute;
	top:41px;
	left:689px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/daytwo_on.png?v=102);
}

	#daytwoOn:hover {
	background-position:bottom;
}

.redheader {
	color:#d85656;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size:17px;
	text-transform: uppercase;
	letter-spacing:0px;
	line-height:22px;
}

.faq_header {
	color:#d85656;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size:16px;
	text-transform: uppercase;
	letter-spacing:0px;
	line-height:22px;
}

.WebMVideoFull
{
    position:absolute;
	top:124px;
	left:70px;
	width: 851px;
    height: 481px;
}

div#preload 
{ 
	display: none; 
}

#popup_russian_dance {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/russian_dance_thumb.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:150px;
	top:264px;
}

#popup_boxtrot {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/boxtrot_thumb.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:590px;
	top:310px;
}

#popup_posedown {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/posedown_thumb.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:254px;
	top:540px;
}

/* popup video classes for fades 
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
*/


/* day one */

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1070px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:444px;
	z-index:2;
}

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1080px;
	z-index:2;
}

#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:660px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:820px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:754px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:650px;
}

#bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:988px;
}

/* day one copy */

#copy_02_01 {
	position:absolute;
	width:660px;
	text-align:left;
	color:#cacaca;
	left:166px;
	top:82px;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_02_02 {
	position:absolute;
	width:800px;
	left:106px;
	top:388px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_02_03 {
	position:absolute;
	width:380px;
	left:496px;
	top:466px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_01 {
	position:absolute;
	width:240px;
	left:106px;
	top:38px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_02 {
	position:absolute;
	width:360px;
	left:518px;
	top:570px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_04_01 {
	position:absolute;
	width:360px;
	left:518px;
	top:48px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_04_02 {
	position:absolute;
	width:240px;
	left:106px;
	top:396px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#price {
	display:block;
	position:absolute;
	top:565px;
	left:416px;
	width:165px;
	height:60px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/price.png?v=103);
}

	#price:hover {
	background-position:bottom;
}

#copy_05_01 {
	position:absolute;
	width:680px;
	left:144px;
	top:104px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_06_01 {
	position:absolute;
	width:280px;
	left:78px;
	top:138px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_07_01 {
	position:absolute;
	width:480px;
	left:239px;
	top:66px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}



/* day two containers */

#powerhouse_bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#powerhouse_container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1200px;
	z-index:2;
}

#powerhouse_bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#powerhouse_container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:135px;
	z-index:2;
}

#powerhouse_bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
}

#powerhouse_container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1720px;
}

#powerhouse_bg_03_5 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_03.5.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_03_5 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_03.5.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:690px;
}

#powerhouse_bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:700px;
}

#powerhouse_bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:530px;
}

#powerhouse_bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:800px;
}

#powerhouse_bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:500px;
}

#powerhouse_bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:500px;
}

#powerhouse_bg_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_09.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
}

#powerhouse_container_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_09.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:6580px;
	z-index:4;
}

#powerhouse_bg_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_10.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#powerhouse_container_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/02_bg_10.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:400px;
}



/* powerhouse copy */

#powerhouse_copy_01_01 {
	position:absolute;
	width:455px;
	left:72px;
	top:1100px;
	text-align:left;
}

#powerhouse_copy_02_01 {
	position:absolute;
	width:450px;
	left:472px;
	top:60px;
	text-align:right;
}

#powerhouse_copy_03_5_01 {
	position:absolute;
	width:850px;
	left:72px;
	top:60px;
	text-align:center;
}

#powerhouse_copy_04_01 {
	position:absolute;
	width:350px;
	left:0px;
	top:160px;
	text-align:right;
	font: italic 18px bold Arial, sans-serif ;
}

#powerhouse_copy_04_02 {
	position:absolute;
	width:250px;
	left:102px;
	top:185px;
	text-align:right;
}

#powerhouse_copy_05_01 {
	position:absolute;
	width:320px;
	left:590px;
	top:136px;
	text-align:left;
	font: italic 18px bold Arial, sans-serif ;
}

#powerhouse_copy_05_02 {
	position:absolute;
	width:320px;
	left:590px;
	top:185px;
	text-align:left;
}

#powerhouse_copy_06_01 {
	position:absolute;
	width:350px;
	left:104px;
	top:430px;
	text-align:right;
	font: italic 18px bold Arial, sans-serif ;
}

#powerhouse_copy_06_02 {
	position:absolute;
	width:350px;
	left:104px;
	top:460px;
	text-align:right;
}


#powerhouse_copy_09_01 {
	position:absolute;
	width:780px;
	text-align:left;
	color:#cacaca;
	left:98px;
	top:30px;
	font-size:16px;
	letter-spacing:0px;
	line-height:22px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


/* FAQ containers */

#faq_bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/faq_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#faq_container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/faq_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:789px;
}

#faq_bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/faq_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	z-index:2;
}

#faq_container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/faq_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1361px;
	z-index:2;
}

#faq_bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/faq_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#faq_container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/faq_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:310px;
	z-index:2;
}

/* faq copy */

#faq_copy_01_01 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:364px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_01_02 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:522px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_01_03 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top: 700px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_02 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:25px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_03 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:150px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_04 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:350px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_05 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:415px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_06 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:550px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#faq_copy_02_07 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:680px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_08 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:767px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_09 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:853px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_10 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:920px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#faq_copy_02_11 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:1055px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

/* slider controls */

.controls:hover{
	opacity: .7;
	cursor: pointer;
	tint: white;
}


/* gunmettle */

#gunmettle_slider{
	margin-left: auto;
	margin-right: auto;
}

#gunmettle_slider_container{
	position: absolute;
	width: 964px;
	top: 188px;
	left: 12px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#gunmettle_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next.png);
	position: absolute;
	left: 880px;
	top: 548px;
	height: 42px;
	width: 42px;
	z-index: 1002;
}

#gunmettle_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous.png);
	position: absolute;
	left: 42px;
	top: 548px;
	height: 42px;
	width: 42px;
	z-index: 1002;
}

/* borneo */

#borneo_slider{
	margin-left: auto;
	margin-right: auto;
}

#borneo_slider_container{
	position: absolute;
	width: 964px;
	top: 10px;
	left: 12px;
	-ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
	z-index: 1010;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#borneo_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#borneo_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

/* suijin */

#suijin_slider{
	margin-left: auto;
	margin-right: auto;
}

#suijin_slider_container{
	position: absolute;
	width: 964px;
	top: 580px;
	left: 12px;
	-ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
	z-index: 1009;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#suijin_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#suijin_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

/* snowplow */

#snowplow_slider{
	margin-left: auto;
	margin-right: auto;
}

#snowplow_slider_container{
	position: absolute;
	width: 964px;
	top: 1136px;
	left: 0px;
	-ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
	z-index: 1008;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#snowplow_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#snowplow_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}


.achievement {
	color:#3e3e3e;
	font-size:14px;
	position:absolute;
	width:236px;
	text-align:left;
	line-height:20px;
	visibility:hidden;
}
.achievement span {
	display:block;
	font-weight:bold;
	font-size:18px;
}
.achc1 {
	left:261px;
}
.achc2 {
	left:606px;
}
#ach1,#ach4 {
	top:289px;
}
#ach2,#ach5 {
	top:375px;
}
#ach3,#ach6 {
	top:461px;
}



.button:hover {
	background-position:bottom;
}




