@charset "utf-8";
/* CSS Document */
p {
	margin:0;
	padding:0;
}

body {
	background-color:#252321;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:16px;
	line-height:24px;
	color:#b7aa9d;
}

#topContainer {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/uberupdate/day1/scoutpack.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	height:1384px;
}

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/uberupdate/day1/scoutpack.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	width:888px;
	height:1384px;
	position:relative;	
}

#footer {
	position:absolute;
	top:1280px;
	left:40px;
}

#top_logo {
	position:absolute;
	top:16px;
	left:10px;
	width:162px;
	height:40px;
	background-image:url(images/tf_top_logo.png);
}

.back {
	background-position:top;
}

.back:hover {
	background-position:bottom;
}

