@charset "utf-8";
/* CSS Document */

body {
	background-color:#8f8d81;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}

#mainContainer {
	background-image:url(images/bg_main.jpg);
	background-repeat:repeat-x;
	background-color:#8f8d81;
	padding:0;
	margin:0;
}

#link_1 {
	position:absolute;
	top:338px;
	left:32px;
}

#link_2 {
	position:absolute;
	top:358px;
	left:32px;
}

#link_3 {
	position:absolute;
	top:378px;
	left:32px;
}

#MannFAQLink {
	position:absolute;
	top:635px;
	left:162px;
}

#MannItemLink {
	position:absolute;
	top:1438px;
	left:246px;
}

#Ape {
	position:absolute;
	top:2895px;
	left:67px;
}

#mannco_tower {
	position:absolute;
	top:90px;
	left:358px;
}

/* Update Page */

#MannContainer {
	width:880px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#MannTopContainer {
	background-image:url(images/mann_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}

#Mann_01 {
	background-image:url(images/mann_01.jpg);
	background-position:top center;
	position:relative;
	width:880px;
	height:868px;
	margin-left:auto;
	margin-right:auto;
}

#Mann_02 {
	background-image:url(images/mann_02.jpg);
	width:880px;
	height:863px;
}

#Mann_03 {
	background-image:url(images/mann_03.jpg);
	width:880px;
	height:1166px;
}

#Mann_04 {
	background-image:url(images/mann_04.jpg);
	width:880px;
	height:1206px;
}


/* FAQ */

#FAQContainer {
	width:880px;
	text-align:left;
	font-size:18px;
	line-height:24px;
	color:#484643;
	padding:0;
	margin:0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#FAQ_top {
	background-image:url(images/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}

#FAQ_top_tchinese {
	background-image:url(images/tchinese/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}

#FAQ_top_dutch {
	background-image:url(images/dutch/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}


#FAQ_top_german {
	background-image:url(images/german/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}

#FAQ_top_finnish {
	background-image:url(images/finnish/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}


#FAQ_top_spanish {
	background-image:url(images/spanish/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}

#FAQ_top_italian {
	background-image:url(images/italian/FAQ_top.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:1516px;
}

#FAQ_top_content {
	padding-left:76px;
	padding-top:394px;
	width:724px;
}


#FAQ_top_content_french {
	padding-left:64px;
	padding-top:394px;
	width:760px;
}


#FAQ_mid {
	background-image:url(images/FAQ_mid.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:908px;
}

#FAQ_mid_content {
	padding-left:76px;
	padding-top:40px;
	width:724px;
}

#FAQ_mid_content_german {
	padding-left:70px;
	padding-top:30px;
	width:744px;
}

#FAQ_mid_content_french {
	padding-left:64px;
	padding-top:25px;
	width:760px;
}

#FAQ_mid_content_finnish {
	padding-left:76px;
	padding-top:30px;
	width:724px;
}

#FAQ_bottom {
	background-image:url(images/FAQ_bottom.jpg);
	background-repeat:no-repeat;
	width:880px;
	height:771px;
}

#FAQ_bottom_content {
	padding-left:76px;
	width:724px;
	padding-top:44px;
}

#FAQ_intro {
	position:absolute;
	top:226px;
	left:70px;
	width:500px;
	color:#c9c9c9;
	font-size:14px;
	line-height:20px;
}

#FAQ_intro_french {
	position:absolute;
	top:226px;
	left:70px;
	width:520px;
	color:#c9c9c9;
	font-size:14px;
	line-height:20px;
}


#FAQ_ManncoLink {
	position:absolute;
	top:198px;
	right:69px;
}

#FAQ_TFLink {
	position:absolute;
	top:264px;
	right:69px;
}

h1 {
	margin:0;
	padding:0;
	padding-bottom:20px;
	font-size:24px;
}

h2 {
	margin:0;
	padding:0;
	font-size:18px;
	font-weight:bold;
}

/* Item Sets */

#ItemTopContainer {
	background-image:url(images/item_sec_1.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}

#ItemContainer {
	width:880px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#item_sec_1 {
	background-image:url(images/item_sec_1.jpg);
	background-position:top center;
	position:relative;
	width:880px;
	height:690px;
	margin-left:auto;
	margin-right:auto;
}

#item_sec_2 {
	background-image:url(images/item_sec_2.jpg);
	width:880px;
	height:1050px;
}

#item_sec_3 {
	background-image:url(images/item_sec_3.jpg);
	width:880px;
	height:1050px;
}

#item_sec_4 {
	background-image:url(images/item_sec_4.jpg);
	width:880px;
	height:1050px;
}

#item_sec_5 {
	background-image:url(images/item_sec_5.jpg);
	width:880px;
	height:1050px;
}

#item_sec_6 {
	background-image:url(images/item_sec_6.jpg);
	width:880px;
	height:524px;
}

#item_mannco_logo {
	position:absolute;
	top:33px;
	left:47px;
}

#item_tf2_logo {
	position:absolute;
	top:37px;
	right:51px;
}

#language_dropdown_area {
	position: absolute;
	right: 72px;
	top: 362px;
	font-size: 12px;
	font-weight: bold;

}


/*
 * GENERIC POPUP
 */


.pulldown {
	padding-left: 5px;
	padding-right: 18px;
	background-image: url( btn_arrow_down_padded.png );
	background-position: right center;
	background-repeat: no-repeat;
	
	cursor: pointer;
}

.popup_block {
	z-index: 200;
	position: absolute;
	padding: 16px; /* so positioning works even without drop shadows */
}

.popup_block .popup_body {
	border: 1px solid #82807c;
	position: relative;
	
	background-color: #3b3938;
	background-image: url( bg_popup.png );
	background-repeat: repeat-x;
	background-position: top;
}

.popup_block .popup_body.popup_menu {
}

.popup_menu .popup_menu_item {
	display: block;
	padding: 5px 12px;
	color: #e5e4dc;
	
	text-transform: none;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}

.popup_menu span.popup_menu_item {
	cursor: default;
}

.popup_menu .popup_menu_item:hover, .popup_menu .popup_menu_item.focus {
	text-decoration: none;
	background-color: #212d3d;
}


