@charset "utf-8";
/* CSS Document */

body {
	background-color:#0f0c08;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/main_bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
}

p {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#acacac;
}


a {
	text-decoration:none;
	color:#c48d2b;
}

a:hover {
	text-decoration:underline;
}

#getTF2 {
	position:absolute;
	top:23px;
	left:26px;
	background-image:url(images/getTF2.jpg);
	width:888px;
	height:52px;
}

.link {
	background-position:top;
}

.link:hover {
	background-position:bottom;
}

#valve {
	position:absolute;
	top:1298px;
	left:26px;
	padding-bottom:120px;
}

#mainContainer {
	margin-right:auto;
	margin-left:auto;
	width:940px;
	position:relative;	
}

#cover {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/cover.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	width:940px;
	height:1222px;
	position:absolute;
	top:80px
}

#editorial {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/editorial.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	width:940px;
	height:1222px;
	position:absolute;
	top:80px
}

#workshop {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/workshop.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	width:940px;
	height:1222px;
	position:absolute;
	top:80px
}

#newhats {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/newhats.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	width:940px;
	height:1222px;
	position:absolute;
	top:80px
}

#highfive {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/highfive.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	width:940px;
	height:1222px;
	position:absolute;
	top:80px
}

#thatsnotall {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/workshop/thatsnotall.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	width:940px;
	height:1222px;
	position:absolute;
	top:80px
}



#n01 {
	position:absolute;
	top:50px;
	right:34px;
	background-image:url(images/01.png);
	width:76px;
	height:90px;
}

#n02 {
	position:absolute;
	top:187px;
	right:34px;
	background-image:url(images/02.png);
	width:76px;
	height:90px;
}

#n03 {
	position:absolute;
	top:311px;
	right:34px;
	background-image:url(images/03.png);
	width:76px;
	height:90px;
}

#n04 {
	position:absolute;
	top:431px;
	right:34px;
	background-image:url(images/04.png);
	width:76px;
	height:90px;
}

#n05 {
	position:absolute;
	top:558px;
	right:34px;
	background-image:url(images/05.png);
	width:76px;
	height:90px;
}

#n06 {
	position:absolute;
	top:680px;
	right:34px;
	background-image:url(images/06.png);
	width:76px;
	height:90px;
}

#crosshair {
	position:absolute;
	top:1126px;
	right:52px;
	background-image:url(images/crosshair.png);
	width:42px;
	height:43px;
}

#learnhow {
	position:absolute;
	top:768px;
	right:136px;
	background-image:url(images/learnhow.jpg);
	width:192px;
	height:170px;
}

#visit {
	position:absolute;
	top:938px;
	right:136px;
	background-image:url(images/visit.jpg);
	width:323px;
	height:217px;
}










