<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>Team Fortress Wiki talk:FAQ - Official TF2 Wiki | Official Team Fortress Wiki</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"Project_talk","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":5,"wgPageName":"Team_Fortress_Wiki_talk:FAQ","wgTitle":"FAQ","wgCurRevisionId":2275352,"wgRevisionId":2275352,"wgArticleId":171338,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":[],"wgBreakFrames":false,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Team_Fortress_Wiki_talk:FAQ","wgRelevantArticleId":171338,"wgRequestId":"a159d0c8dbf77cb8d629d526","wgIsProbablyEditable":false,"wgRelevantPageIsProbablyEditable":false,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgCategoryTreePageCategoryOptions":"{\"mode\":0,\"hideprefix\":20,\"showcount\":true,\"namespaces\":false}","wgWikiEditorEnabledModules":[],"wgMediaViewerOnClick":true,"wgMediaViewerEnabledByDefault":true});mw.loader.state({"site.styles":"ready","noscript":"ready","user.styles":"ready","user":"ready","user.options":"ready","user.tokens":"loading","mediawiki.legacy.shared":"ready","mediawiki.legacy.commonPrint":"ready","mediawiki.sectionAnchor":"ready","mediawiki.skinning.interface":"ready","skins.vector.styles":"ready"});mw.loader.implement("user.tokens@04nj1zt",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
});mw.loader.load(["site","mediawiki.page.startup","mediawiki.user","mediawiki.hidpi","mediawiki.page.ready","mediawiki.searchSuggest","sentry.init","mmv.head","mmv.bootstrap.autostart","skins.vector.js"]);});</script>
<link rel="stylesheet" href="/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector"/>
<script async="" src="/w/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
<meta name="ResourceLoaderDynamicStyles" content=""/>
<link rel="stylesheet" href="/w/load.php?debug=false&amp;lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector"/>
<meta name="generator" content="MediaWiki 1.31.10"/>
<meta property="og:image" content="http://wiki.teamfortress.com/w/images/3/3f/Reddit_thumbnail.png"/>
<link rel="apple-touch-icon" href="http://wiki.teamfortress.com/w/images/2/21/IOS_Bookmark_Wiki_Logo.png"/>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" href="/w/opensearch_desc.php" title="Team Fortress Wiki (en)"/>
<link rel="EditURI" type="application/rsd+xml" href="https://wiki.teamfortress.com/w/api.php?action=rsd"/>
<link rel="alternate" type="application/atom+xml" title="Team Fortress Wiki Atom feed" href="/w/index.php?title=Special:RecentChanges&amp;feed=atom"/>
<link rel="canonical" href="https://wiki.teamfortress.com/wiki/Team_Fortress_Wiki_talk:FAQ"/>
<!--[if lt IE 9]><script src="/w/load.php?debug=false&amp;lang=en&amp;modules=html5shiv&amp;only=scripts&amp;skin=vector&amp;sync=1"></script><![endif]-->
</head>
<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-5 ns-talk page-Team_Fortress_Wiki_talk_FAQ rootpage-Team_Fortress_Wiki_talk_FAQ skin-vector action-view">		<div id="mw-page-base" class="noprint"></div>
		<div id="mw-head-base" class="noprint"></div>
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>
			<div class="mw-indicators mw-body-content">
</div>
<h1 id="firstHeading" class="firstHeading" lang="en">Team Fortress Wiki talk:FAQ</h1>			<div id="bodyContent" class="mw-body-content">
				<div id="siteSub" class="noprint">From Team Fortress Wiki</div>				<div id="contentSub"></div>
								<div id="jump-to-nav" class="mw-jump">
					Jump to:					<a href="#mw-head">navigation</a>, 					<a href="#p-search">search</a>
				</div>
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output"><h2><span class="mw-headline" id="Question">Question</span></h2>
<p>Is one able to delete an image they have posted?
<a href="/wiki/User:IndispensableIrritations" title="User:IndispensableIrritations">IndispensableIrritations</a> 22:56, 30 November 2012 (PST)
</p>
<dl><dd>No, but you can put the <code>{{<a href="/wiki/Template:Delete" title="Template:Delete">delete</a>}}</code> or <code>{{<a href="/wiki/Template:Move" title="Template:Move">move</a>}}</code> templates on them instead — <a href="/wiki/User:WindPower" title="User:WindPower"><span style="font-weight:bold;">Wind</span></a> 22:59, 30 November 2012 (PST)</dd></dl>
<h2><span id="Why_isn't_there_a_page_about_starting_a_new_page?"></span><span class="mw-headline" id="Why_isn.27t_there_a_page_about_starting_a_new_page.3F">Why isn't there a page about starting a new page?</span></h2>
<p>Theres nothing on the FAQ about starting a new page. I've never been able to find anything on this site about the guidelines for starting a new page. Can someone tell me why it's not here of all places? <a href="/wiki/User:TheNoobThatWas" title="User:TheNoobThatWas">TheNoobThatWas</a> (<a href="/wiki/User_talk:TheNoobThatWas" title="User talk:TheNoobThatWas">talk</a>) 06:09, 13 November 2013 (PST)
</p>
<h2><span id="Can_I_add_something_to_this?"></span><span class="mw-headline" id="Can_I_add_something_to_this.3F">Can I add something to this?</span></h2>
<p>I want to add on that even if you have cookies enabled for this site, checking the "Keep me logged in" box while trying to log in will still turn up the error "You have cookies disabled", and the reason for that is likely because you have an Adblocker.
</p><p>I say this because I just figured out why I couldn't log in. I just had to disabled uBlock Origin. ⇒<img alt="Leaderboard class spy.png" src="/w/images/thumb/3/33/Leaderboard_class_spy.png/16px-Leaderboard_class_spy.png" width="16" height="16" srcset="/w/images/thumb/3/33/Leaderboard_class_spy.png/24px-Leaderboard_class_spy.png 1.5x, /w/images/thumb/3/33/Leaderboard_class_spy.png/32px-Leaderboard_class_spy.png 2x" data-file-width="64" data-file-height="64" /> <a href="/wiki/User:Anyar" title="User:Anyar"><span style="font-size: 16px; font-family: TF2 Build">Anyar</span></a> (<a href="/wiki/User_talk:Anyar" title="User talk:Anyar">talk</a>/<a href="/wiki/Special:Contributions/Anyar" title="Special:Contributions/Anyar">contributions</a>/<a href="/wiki/User:Anyar/No" title="User:Anyar/No">giveaway</a>) 12:57, 26 August 2017 (PDT)
</p>
<!-- 
NewPP limit report
Cached time: 20240506160643
Cache expiry: 86400
Dynamic content: false
CPU time usage: 0.014 seconds
Real time usage: 0.026 seconds
Preprocessor visited node count: 28/1000000
Preprocessor generated node count: 72/1000000
Post‐expand include size: 82/4194304 bytes
Template argument size: 20/4194304 bytes
Highest expansion depth: 3/40
Expensive parser function count: 0/100
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    4.019      1 -total
 95.22%    3.827      2 Template:Tl
-->
</div>
<!-- Saved in parser cache with key tf_wiki:pcache:idhash:171338-0!canonical and timestamp 20240506160643 and revision id 2275352
 -->
</div>					<div class="printfooter">
						Retrieved from "<a dir="ltr" href="https://wiki.teamfortress.com/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;oldid=2275352">https://wiki.teamfortress.com/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;oldid=2275352</a>"					</div>
				<div id="catlinks" class="catlinks catlinks-allhidden" data-mw="interface"></div>				<div class="visualClear"></div>
							</div>
		</div>
		<div id="mw-navigation">
			<h2>Navigation menu</h2>
			<div id="mw-head">
									<div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
						<h3 id="p-personal-label">Personal tools</h3>
						<ul>
							<li id="pt-createaccount"><a href="/w/index.php?title=Special:CreateAccount&amp;returnto=Team+Fortress+Wiki+talk%3AFAQ" title="You are encouraged to create an account and log in; however, it is not mandatory">Create account</a></li><li id="pt-login"><a href="/w/index.php?title=Special:UserLogin&amp;returnto=Team+Fortress+Wiki+talk%3AFAQ" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
					</div>
									<div id="left-navigation">
										<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
						<h3 id="p-namespaces-label">Namespaces</h3>
						<ul>
							<li id="ca-nstab-project"><span><a href="/wiki/Team_Fortress_Wiki:FAQ" title="View the project page [a]" accesskey="a">Project page</a></span></li><li id="ca-talk" class="selected"><span><a href="/wiki/Team_Fortress_Wiki_talk:FAQ" rel="discussion" title="Discussion about the content page [t]" accesskey="t">Discussion</a></span></li>						</ul>
					</div>
										<div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
												<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-variants-label" />
						<h3 id="p-variants-label">
							<span>Variants</span>
						</h3>
						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
									</div>
				<div id="right-navigation">
										<div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
						<h3 id="p-views-label">Views</h3>
						<ul>
							<li id="ca-view" class="collapsible selected"><span><a href="/wiki/Team_Fortress_Wiki_talk:FAQ">Read</a></span></li><li id="ca-viewsource" class="collapsible"><span><a href="/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></span></li><li id="ca-history" class="collapsible"><span><a href="/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;action=history" title="Past revisions of this page [h]" accesskey="h">View history</a></span></li>						</ul>
					</div>
										<div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
						<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-cactions-label" />
						<h3 id="p-cactions-label"><span>More</span></h3>
						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
										<div id="p-search" role="search">
						<h3>
							<label for="searchInput">Search</label>
						</h3>
						<form action="/w/index.php" id="searchform">
							<div id="simpleSearch">
								<input type="search" name="search" placeholder="Search Team Fortress Wiki" title="Search Team Fortress Wiki [f]" accesskey="f" id="searchInput"/><input type="hidden" value="Special:Search" name="title"/><input type="submit" name="fulltext" value="Search" title="Search the pages for this text" id="mw-searchButton" class="searchButton mw-fallbackSearchButton"/><input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists" id="searchButton" class="searchButton"/>							</div>
						</form>
					</div>
									</div>
			</div>
			<div id="mw-panel">
				<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="/wiki/Main_Page"  title="Official TF2 Wiki"></a></div>
						<div class="portal" role="navigation" id="p-Navigation" aria-labelledby="p-Navigation-label">
			<h3 id="p-Navigation-label">Navigation</h3>
			<div class="body">
								<ul>
					<li id="n-mainpage-description"><a href="/wiki/Main_Page" title="Visit the main page [z]" accesskey="z">Main page</a></li><li id="n-about"><a href="/wiki/Team_Fortress_Wiki">About</a></li><li id="n-recentchanges"><a href="/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [r]" accesskey="r">Recent changes</a></li><li id="n-randompage"><a href="/wiki/Special:Random" title="Load a random page [x]" accesskey="x">Random page</a></li><li id="n-Help"><a href="/wiki/Help:Contents">Help</a></li><li id="n-FAQ"><a href="/wiki/Team_Fortress_Wiki:FAQ">FAQ</a></li><li id="n-ircchannel"><a href="/wiki/Team_Fortress_Wiki:IRC">IRC channel</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-tb" aria-labelledby="p-tb-label">
			<h3 id="p-tb-label">Tools</h3>
			<div class="body">
								<ul>
					<li id="t-whatlinkshere"><a href="/wiki/Special:WhatLinksHere/Team_Fortress_Wiki_talk:FAQ" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li><li id="t-recentchangeslinked"><a href="/wiki/Special:RecentChangesLinked/Team_Fortress_Wiki_talk:FAQ" rel="nofollow" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li><li id="t-specialpages"><a href="/wiki/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li><li id="t-print"><a href="/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li><li id="t-permalink"><a href="/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;oldid=2275352" title="Permanent link to this revision of the page">Permanent link</a></li><li id="t-info"><a href="/w/index.php?title=Team_Fortress_Wiki_talk:FAQ&amp;action=info" title="More information about this page">Page information</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Languages" aria-labelledby="p-Languages-label">
			<h3 id="p-Languages-label">Languages</h3>
			<div class="body">
								<ul>
					<li id="n-English"><a href="/wiki/Team_Fortress_Wiki_talk:FAQ">English</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Team_Fortress_2" aria-labelledby="p-Team_Fortress_2-label">
			<h3 id="p-Team_Fortress_2-label">Team Fortress 2</h3>
			<div class="body">
								<ul>
					<li id="n-Download"><a href="https://store.steampowered.com/app/440" rel="nofollow">Download</a></li><li id="n-Blog"><a href="https://www.teamfortress.com" rel="nofollow">Blog</a></li><li id="n-Updates"><a href="https://store.steampowered.com/oldnews/?appids=440&amp;appgroupname=Team+Fortress+2&amp;feed=steam_updates" rel="nofollow">Updates</a></li><li id="n-steamnewshub"><a href="https://store.steampowered.com/news/app/440" rel="nofollow">News Hub</a></li><li id="n-communityhub"><a href="https://steamcommunity.com/app/440" rel="nofollow">Community Hub</a></li><li id="n-steamworkshop"><a href="https://www.teamfortress.com/workshop" rel="nofollow">Steam Workshop</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Team_Fortress_Classic" aria-labelledby="p-Team_Fortress_Classic-label">
			<h3 id="p-Team_Fortress_Classic-label">Team Fortress Classic</h3>
			<div class="body">
								<ul>
					<li id="n-tfcmainpage"><a href="https://wiki.teamfortress.com/wiki/Main_Page_%28Classic%29" rel="nofollow">Main Page</a></li><li id="n-Purchase"><a href="https://store.steampowered.com/app/20" rel="nofollow">Purchase</a></li><li id="n-steamnewshub"><a href="https://store.steampowered.com/news/app/20" rel="nofollow">News Hub</a></li><li id="n-communityhub"><a href="https://steamcommunity.com/app/20" rel="nofollow">Community Hub</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Valve_Wiki_Network" aria-labelledby="p-Valve_Wiki_Network-label">
			<h3 id="p-Valve_Wiki_Network-label">Valve Wiki Network</h3>
			<div class="body">
								<ul>
					<li id="n-Combine-OverWiki"><a href="https://combineoverwiki.net" rel="nofollow">Combine OverWiki</a></li><li id="n-Left-4-Dead-Wiki"><a href="https://left4dead.fandom.com" rel="nofollow">Left 4 Dead Wiki</a></li><li id="n-Portal-Wiki"><a href="https://theportalwiki.com" rel="nofollow">Portal Wiki</a></li>				</ul>
							</div>
		</div>
				</div>
		</div>
				<div id="footer" role="contentinfo">
						<ul id="footer-info">
								<li id="footer-info-lastmod"> This page was last edited on 26 August 2017, at 19:57.</li>
							</ul>
						<ul id="footer-places">
								<li id="footer-places-about"><a href="/wiki/Team_Fortress_Wiki" title="Team Fortress Wiki">About Team Fortress Wiki</a></li>
								<li id="footer-places-disclaimer"><a href="/wiki/Team_Fortress_Wiki:Terms_of_Use" title="Team Fortress Wiki:Terms of Use">Terms of Use</a></li>
							</ul>
										<ul id="footer-icons" class="noprint">
										<li id="footer-poweredbyico">
						<a href="//www.mediawiki.org/"><img src="/w/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/w/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /w/resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>					</li>
									</ul>
						<div style="clear: both;"></div>
		</div>
		<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgPageParseReport":{"limitreport":{"cputime":"0.014","walltime":"0.026","ppvisitednodes":{"value":28,"limit":1000000},"ppgeneratednodes":{"value":72,"limit":1000000},"postexpandincludesize":{"value":82,"limit":4194304},"templateargumentsize":{"value":20,"limit":4194304},"expansiondepth":{"value":3,"limit":40},"expensivefunctioncount":{"value":0,"limit":100},"unstrip-depth":{"value":0,"limit":20},"unstrip-size":{"value":0,"limit":5000000},"timingprofile":["100.00%    4.019      1 -total"," 95.22%    3.827      2 Template:Tl"]},"cachereport":{"timestamp":"20240506160643","ttl":86400,"transientcontent":false}}});});</script><script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgBackendResponseTime":439});});</script>
	</body>
</html>
