<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>Template:Set - Official TF2 Wiki | Official Team Fortress Wiki</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"Template","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":10,"wgPageName":"Template:Set","wgTitle":"Set","wgCurRevisionId":3653586,"wgRevisionId":3653586,"wgArticleId":91187,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Formatting templates","Templates that use translation switching"],"wgBreakFrames":false,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Template:Set","wgRelevantArticleId":91187,"wgRequestId":"27b37aeb5fdded49b002d0fd","wgIsProbablyEditable":false,"wgRelevantPageIsProbablyEditable":false,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgCategoryTreePageCategoryOptions":"{\"mode\":0,\"hideprefix\":20,\"showcount\":true,\"namespaces\":false}","wgWikiEditorEnabledModules":[],"wgMediaViewerOnClick":true,"wgMediaViewerEnabledByDefault":true});mw.loader.state({"site.styles":"ready","noscript":"ready","user.styles":"ready","user":"ready","user.options":"ready","user.tokens":"loading","mediawiki.legacy.shared":"ready","mediawiki.legacy.commonPrint":"ready","mediawiki.sectionAnchor":"ready","mediawiki.skinning.interface":"ready","skins.vector.styles":"ready"});mw.loader.implement("user.tokens@04nj1zt",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
});mw.loader.load(["site","mediawiki.page.startup","mediawiki.user","mediawiki.hidpi","mediawiki.page.ready","mediawiki.searchSuggest","sentry.init","mmv.head","mmv.bootstrap.autostart","skins.vector.js"]);});</script>
<link rel="stylesheet" href="/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector"/>
<script async="" src="/w/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
<meta name="ResourceLoaderDynamicStyles" content=""/>
<link rel="stylesheet" href="/w/load.php?debug=false&amp;lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector"/>
<meta name="generator" content="MediaWiki 1.31.10"/>
<meta property="og:image" content="http://wiki.teamfortress.com/w/images/3/3f/Reddit_thumbnail.png"/>
<link rel="apple-touch-icon" href="http://wiki.teamfortress.com/w/images/2/21/IOS_Bookmark_Wiki_Logo.png"/>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" href="/w/opensearch_desc.php" title="Team Fortress Wiki (en)"/>
<link rel="EditURI" type="application/rsd+xml" href="https://wiki.teamfortress.com/w/api.php?action=rsd"/>
<link rel="alternate" type="application/atom+xml" title="Team Fortress Wiki Atom feed" href="/w/index.php?title=Special:RecentChanges&amp;feed=atom"/>
<link rel="canonical" href="https://wiki.teamfortress.com/wiki/Template:Set"/>
<!--[if lt IE 9]><script src="/w/load.php?debug=false&amp;lang=en&amp;modules=html5shiv&amp;only=scripts&amp;skin=vector&amp;sync=1"></script><![endif]-->
</head>
<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-10 ns-subject page-Template_Set rootpage-Template_Set skin-vector action-view">		<div id="mw-page-base" class="noprint"></div>
		<div id="mw-head-base" class="noprint"></div>
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>
			<div class="mw-indicators mw-body-content">
</div>
<h1 id="firstHeading" class="firstHeading" lang="en">Template:Set</h1>			<div id="bodyContent" class="mw-body-content">
				<div id="siteSub" class="noprint">From Team Fortress Wiki</div>				<div id="contentSub"></div>
								<div id="jump-to-nav" class="mw-jump">
					Jump to:					<a href="#mw-head">navigation</a>, 					<a href="#p-search">search</a>
				</div>
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output"><div style="font-style: italic; padding-left: 2em; margin-bottom: 0.5em;">Main article: <a href="/wiki/Item_sets" title="Item sets">Item sets</a><i></i></div>
<p><code>{{<a class="mw-selflink selflink">Set</a>}}</code> error
</p>
<table class="plainlinks ambox" style="border: 1px solid #0F5F85; background-color: #DEE8ED; margin: 0.75em 10%;"><tbody><tr>
   <td class="ambox-image ambox-notice"><a href="/wiki/File:Globeicon.png" class="image"><img alt="Globeicon.png" src="/w/images/thumb/e/e1/Globeicon.png/36px-Globeicon.png" width="36" height="36" srcset="/w/images/thumb/e/e1/Globeicon.png/54px-Globeicon.png 1.5x, /w/images/thumb/e/e1/Globeicon.png/72px-Globeicon.png 2x" data-file-width="256" data-file-height="256" /></a></td><td class="ambox-text"><span style="font-size: 100%; font-weight: bold; font-size: 95%;">This template uses <a href="/wiki/Help:Translation_switching" title="Help:Translation switching">translation switching</a>. The correct language will be displayed automatically.</span><br /><span style="font-size: 95%; font-size: 90%;">Localized versions of this template (e.g. <i>Template:Set/ru</i>) are not necessary. Add your translations directly to this template by <a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Set&amp;action=edit">editing it</a>.<br /><b>Note</b>: Also translate <code>{{<a href="/wiki/Template:Set/table" title="Template:Set/table">Set/table</a>}}</code><br /><b>Supported languages for this template</b>: en, cs, da, de, es, fr, ko, nl, pl, pt, pt-br, ru, sv, tr, zh-hans, zh-hant&#160;(<a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Set&amp;action=edit">add</a>)</span><br /></td>
</tr></tbody></table>
<div id="documentation" style="clear: both; margin: 1em 0 0 0; border: 1px solid #aaa; background-color: #ecfcf4; padding: 1em;">
<div style="float: right;" class="plainlinks">&#91;<a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Set&amp;action=edit">edit</a>&#93;&#160;&#91;<a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Set&amp;action=purge">purge</a>&#93;</div>
<h1 style="margin-top:-0.25em;"><span class="mw-headline" id="Documentation_for_Set">Documentation for <i>Set</i></span></h1>
<h2><span class="mw-headline" id="Usage">Usage</span></h2>
<pre>{{Set|The Special Delivery}}

{{Set|The Special Delivery|main=no}}
</pre>
</div>
<!-- 
NewPP limit report
Cached time: 20240506013526
Cache expiry: 86400
Dynamic content: false
CPU time usage: 0.063 seconds
Real time usage: 0.092 seconds
Preprocessor visited node count: 574/1000000
Preprocessor generated node count: 16411/1000000
Post‐expand include size: 5525/4194304 bytes
Template argument size: 2662/4194304 bytes
Highest expansion depth: 10/40
Expensive parser function count: 0/100
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 79/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%   42.146      1 -total
 44.03%   18.555      1 Template:Main
 36.27%   15.287      1 Template:Hatnote
 22.18%    9.349      1 Template:Translation_switching
 15.72%    6.624      1 Template:Ambox
 13.50%    5.688      2 Template:Tl
 11.79%    4.967      1 Template:Item_name
 11.32%    4.770      1 Template:Doc_begin
  9.45%    3.984      2 Template:Lang
  9.19%    3.874      1 Template:Ambox/message
-->
</div>
<!-- Saved in parser cache with key tf_wiki:pcache:idhash:91187-0!canonical and timestamp 20240506013526 and revision id 3653586
 -->
</div>					<div class="printfooter">
						Retrieved from "<a dir="ltr" href="https://wiki.teamfortress.com/w/index.php?title=Template:Set&amp;oldid=3653586">https://wiki.teamfortress.com/w/index.php?title=Template:Set&amp;oldid=3653586</a>"					</div>
				<div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Special:Categories" title="Special:Categories">Category</a>: <ul><li><a href="/wiki/Category:Templates_that_use_translation_switching" title="Category:Templates that use translation switching">Templates that use translation switching</a></li></ul></div><div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-hidden">Hidden category: <ul><li><a href="/wiki/Category:Formatting_templates" title="Category:Formatting templates">Formatting templates</a></li></ul></div></div>				<div class="visualClear"></div>
							</div>
		</div>
		<div id="mw-navigation">
			<h2>Navigation menu</h2>
			<div id="mw-head">
									<div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
						<h3 id="p-personal-label">Personal tools</h3>
						<ul>
							<li id="pt-createaccount"><a href="/w/index.php?title=Special:CreateAccount&amp;returnto=Template%3ASet" title="You are encouraged to create an account and log in; however, it is not mandatory">Create account</a></li><li id="pt-login"><a href="/w/index.php?title=Special:UserLogin&amp;returnto=Template%3ASet" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
					</div>
									<div id="left-navigation">
										<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
						<h3 id="p-namespaces-label">Namespaces</h3>
						<ul>
							<li id="ca-nstab-template" class="selected"><span><a href="/wiki/Template:Set" title="View the template [c]" accesskey="c">Template</a></span></li><li id="ca-talk"><span><a href="/wiki/Template_talk:Set" rel="discussion" title="Discussion about the content page [t]" accesskey="t">Discussion</a></span></li>						</ul>
					</div>
										<div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
												<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-variants-label" />
						<h3 id="p-variants-label">
							<span>Variants</span>
						</h3>
						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
									</div>
				<div id="right-navigation">
										<div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
						<h3 id="p-views-label">Views</h3>
						<ul>
							<li id="ca-view" class="collapsible selected"><span><a href="/wiki/Template:Set">Read</a></span></li><li id="ca-viewsource" class="collapsible"><span><a href="/w/index.php?title=Template:Set&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></span></li><li id="ca-history" class="collapsible"><span><a href="/w/index.php?title=Template:Set&amp;action=history" title="Past revisions of this page [h]" accesskey="h">View history</a></span></li>						</ul>
					</div>
										<div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
						<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-cactions-label" />
						<h3 id="p-cactions-label"><span>More</span></h3>
						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
										<div id="p-search" role="search">
						<h3>
							<label for="searchInput">Search</label>
						</h3>
						<form action="/w/index.php" id="searchform">
							<div id="simpleSearch">
								<input type="search" name="search" placeholder="Search Team Fortress Wiki" title="Search Team Fortress Wiki [f]" accesskey="f" id="searchInput"/><input type="hidden" value="Special:Search" name="title"/><input type="submit" name="fulltext" value="Search" title="Search the pages for this text" id="mw-searchButton" class="searchButton mw-fallbackSearchButton"/><input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists" id="searchButton" class="searchButton"/>							</div>
						</form>
					</div>
									</div>
			</div>
			<div id="mw-panel">
				<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="/wiki/Main_Page"  title="Official TF2 Wiki"></a></div>
						<div class="portal" role="navigation" id="p-Navigation" aria-labelledby="p-Navigation-label">
			<h3 id="p-Navigation-label">Navigation</h3>
			<div class="body">
								<ul>
					<li id="n-mainpage-description"><a href="/wiki/Main_Page" title="Visit the main page [z]" accesskey="z">Main page</a></li><li id="n-about"><a href="/wiki/Team_Fortress_Wiki">About</a></li><li id="n-recentchanges"><a href="/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [r]" accesskey="r">Recent changes</a></li><li id="n-randompage"><a href="/wiki/Special:Random" title="Load a random page [x]" accesskey="x">Random page</a></li><li id="n-Help"><a href="/wiki/Help:Contents">Help</a></li><li id="n-FAQ"><a href="/wiki/Team_Fortress_Wiki:FAQ">FAQ</a></li><li id="n-ircchannel"><a href="/wiki/Team_Fortress_Wiki:IRC">IRC channel</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-tb" aria-labelledby="p-tb-label">
			<h3 id="p-tb-label">Tools</h3>
			<div class="body">
								<ul>
					<li id="t-whatlinkshere"><a href="/wiki/Special:WhatLinksHere/Template:Set" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li><li id="t-recentchangeslinked"><a href="/wiki/Special:RecentChangesLinked/Template:Set" rel="nofollow" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li><li id="t-specialpages"><a href="/wiki/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li><li id="t-print"><a href="/w/index.php?title=Template:Set&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li><li id="t-permalink"><a href="/w/index.php?title=Template:Set&amp;oldid=3653586" title="Permanent link to this revision of the page">Permanent link</a></li><li id="t-info"><a href="/w/index.php?title=Template:Set&amp;action=info" title="More information about this page">Page information</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Languages" aria-labelledby="p-Languages-label">
			<h3 id="p-Languages-label">Languages</h3>
			<div class="body">
								<ul>
					<li id="n-English"><a href="/wiki/Template:Set">English</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Team_Fortress_2" aria-labelledby="p-Team_Fortress_2-label">
			<h3 id="p-Team_Fortress_2-label">Team Fortress 2</h3>
			<div class="body">
								<ul>
					<li id="n-Download"><a href="https://store.steampowered.com/app/440" rel="nofollow">Download</a></li><li id="n-Blog"><a href="https://www.teamfortress.com" rel="nofollow">Blog</a></li><li id="n-Updates"><a href="https://store.steampowered.com/oldnews/?appids=440&amp;appgroupname=Team+Fortress+2&amp;feed=steam_updates" rel="nofollow">Updates</a></li><li id="n-steamnewshub"><a href="https://store.steampowered.com/news/app/440" rel="nofollow">News Hub</a></li><li id="n-communityhub"><a href="https://steamcommunity.com/app/440" rel="nofollow">Community Hub</a></li><li id="n-steamworkshop"><a href="https://www.teamfortress.com/workshop" rel="nofollow">Steam Workshop</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Team_Fortress_Classic" aria-labelledby="p-Team_Fortress_Classic-label">
			<h3 id="p-Team_Fortress_Classic-label">Team Fortress Classic</h3>
			<div class="body">
								<ul>
					<li id="n-tfcmainpage"><a href="https://wiki.teamfortress.com/wiki/Main_Page_%28Classic%29" rel="nofollow">Main Page</a></li><li id="n-Purchase"><a href="https://store.steampowered.com/app/20" rel="nofollow">Purchase</a></li><li id="n-steamnewshub"><a href="https://store.steampowered.com/news/app/20" rel="nofollow">News Hub</a></li><li id="n-communityhub"><a href="https://steamcommunity.com/app/20" rel="nofollow">Community Hub</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Valve_Wiki_Network" aria-labelledby="p-Valve_Wiki_Network-label">
			<h3 id="p-Valve_Wiki_Network-label">Valve Wiki Network</h3>
			<div class="body">
								<ul>
					<li id="n-Combine-OverWiki"><a href="https://combineoverwiki.net" rel="nofollow">Combine OverWiki</a></li><li id="n-Left-4-Dead-Wiki"><a href="https://left4dead.fandom.com" rel="nofollow">Left 4 Dead Wiki</a></li><li id="n-Portal-Wiki"><a href="https://theportalwiki.com" rel="nofollow">Portal Wiki</a></li>				</ul>
							</div>
		</div>
				</div>
		</div>
				<div id="footer" role="contentinfo">
						<ul id="footer-info">
								<li id="footer-info-lastmod"> This page was last edited on 23 March 2024, at 03:13.</li>
							</ul>
						<ul id="footer-places">
								<li id="footer-places-about"><a href="/wiki/Team_Fortress_Wiki" title="Team Fortress Wiki">About Team Fortress Wiki</a></li>
								<li id="footer-places-disclaimer"><a href="/wiki/Team_Fortress_Wiki:Terms_of_Use" title="Team Fortress Wiki:Terms of Use">Terms of Use</a></li>
							</ul>
										<ul id="footer-icons" class="noprint">
										<li id="footer-poweredbyico">
						<a href="//www.mediawiki.org/"><img src="/w/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/w/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /w/resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>					</li>
									</ul>
						<div style="clear: both;"></div>
		</div>
		<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgPageParseReport":{"limitreport":{"cputime":"0.063","walltime":"0.092","ppvisitednodes":{"value":574,"limit":1000000},"ppgeneratednodes":{"value":16411,"limit":1000000},"postexpandincludesize":{"value":5525,"limit":4194304},"templateargumentsize":{"value":2662,"limit":4194304},"expansiondepth":{"value":10,"limit":40},"expensivefunctioncount":{"value":0,"limit":100},"unstrip-depth":{"value":0,"limit":20},"unstrip-size":{"value":79,"limit":5000000},"timingprofile":["100.00%   42.146      1 -total"," 44.03%   18.555      1 Template:Main"," 36.27%   15.287      1 Template:Hatnote"," 22.18%    9.349      1 Template:Translation_switching"," 15.72%    6.624      1 Template:Ambox"," 13.50%    5.688      2 Template:Tl"," 11.79%    4.967      1 Template:Item_name"," 11.32%    4.770      1 Template:Doc_begin","  9.45%    3.984      2 Template:Lang","  9.19%    3.874      1 Template:Ambox/message"]},"cachereport":{"timestamp":"20240506013526","ttl":86400,"transientcontent":false}}});});</script><script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgBackendResponseTime":450});});</script>
	</body>
</html>
