<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8"/>
<title>Template:Ambox - Official TF2 Wiki | Official Team Fortress Wiki</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"Template","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":10,"wgPageName":"Template:Ambox","wgTitle":"Ambox","wgCurRevisionId":683542,"wgRevisionId":683542,"wgArticleId":114,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Maintenance templates"],"wgBreakFrames":false,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Template:Ambox","wgRelevantArticleId":114,"wgRequestId":"693794beb3b8e98982a40b20","wgIsProbablyEditable":false,"wgRelevantPageIsProbablyEditable":false,"wgRestrictionEdit":["sysop"],"wgRestrictionMove":["sysop"],"wgCategoryTreePageCategoryOptions":"{\"mode\":0,\"hideprefix\":20,\"showcount\":true,\"namespaces\":false}","wgWikiEditorEnabledModules":[],"wgMediaViewerOnClick":true,"wgMediaViewerEnabledByDefault":true});mw.loader.state({"site.styles":"ready","noscript":"ready","user.styles":"ready","user":"ready","user.options":"ready","user.tokens":"loading","mediawiki.legacy.shared":"ready","mediawiki.legacy.commonPrint":"ready","mediawiki.sectionAnchor":"ready","mediawiki.skinning.interface":"ready","skins.vector.styles":"ready"});mw.loader.implement("user.tokens@04nj1zt",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
});mw.loader.load(["site","mediawiki.page.startup","mediawiki.user","mediawiki.hidpi","mediawiki.page.ready","mediawiki.toc","mediawiki.searchSuggest","sentry.init","mmv.head","mmv.bootstrap.autostart","skins.vector.js"]);});</script>
<link rel="stylesheet" href="/w/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector"/>
<script async="" src="/w/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
<meta name="ResourceLoaderDynamicStyles" content=""/>
<link rel="stylesheet" href="/w/load.php?debug=false&amp;lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector"/>
<meta name="generator" content="MediaWiki 1.31.10"/>
<meta property="og:image" content="http://wiki.teamfortress.com/w/images/3/3f/Reddit_thumbnail.png"/>
<link rel="apple-touch-icon" href="http://wiki.teamfortress.com/w/images/2/21/IOS_Bookmark_Wiki_Logo.png"/>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" href="/w/opensearch_desc.php" title="Team Fortress Wiki (en)"/>
<link rel="EditURI" type="application/rsd+xml" href="https://wiki.teamfortress.com/w/api.php?action=rsd"/>
<link rel="alternate" type="application/atom+xml" title="Team Fortress Wiki Atom feed" href="/w/index.php?title=Special:RecentChanges&amp;feed=atom"/>
<link rel="canonical" href="https://wiki.teamfortress.com/wiki/Template:Ambox"/>
<!--[if lt IE 9]><script src="/w/load.php?debug=false&amp;lang=en&amp;modules=html5shiv&amp;only=scripts&amp;skin=vector&amp;sync=1"></script><![endif]-->
</head>
<body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-10 ns-subject page-Template_Ambox rootpage-Template_Ambox skin-vector action-view">		<div id="mw-page-base" class="noprint"></div>
		<div id="mw-head-base" class="noprint"></div>
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>
			<div class="mw-indicators mw-body-content">
</div>
<h1 id="firstHeading" class="firstHeading" lang="en">Template:Ambox</h1>			<div id="bodyContent" class="mw-body-content">
				<div id="siteSub" class="noprint">From Team Fortress Wiki</div>				<div id="contentSub"></div>
								<div id="jump-to-nav" class="mw-jump">
					Jump to:					<a href="#mw-head">navigation</a>, 					<a href="#p-search">search</a>
				</div>
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output"><table class="plainlinks ambox" style=""><tbody><tr>
   <td class="ambox-empty-cell ambox-"></td><td class="ambox-text">{{{contents}}}</td>
</tr></tbody></table>
<div id="template-documentation" style="clear: both; margin: 1em 0 0 0; border: 1px solid #aaa; background-color: #ecfcf4; padding: 1em; font-family: sans-serif">
<div style="padding-bottom:3px;border-bottom:1px solid #aaa;margin-bottom:1ex">
<p><span style="font-weight:bold;font-size:125%">Template documentation </span>
<span id="doc-editlinks" class="plainlinks">&#91;<a href="/wiki/Template:Ambox/doc" title="Template:Ambox/doc">view</a>&#93; &#91;<a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Ambox/doc&amp;action=edit">edit</a>&#93; &#91;<a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Ambox/doc&amp;action=history">history</a>&#93; &#91;<a rel="nofollow" class="external text" href="https://wiki.teamfortress.com/w/index.php?title=Template:Ambox&amp;action=purge">purge</a>&#93;</span>
</p>
</div>
<p>An <b>ambox</b>, or <b>article message box</b>, can be added to notify users of specific messages regarding the article. The <code>{{<a href="/wiki/Template:Cleanup" title="Template:Cleanup">cleanup</a>}}</code> template is an example of an ambox.
</p>
<div id="toc" class="toc"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2></div>
<ul>
<li class="toclevel-1"><a href="#Usage"><span class="tocnumber">1</span> <span class="toctext">Usage</span></a>
<ul>
<li class="toclevel-2"><a href="#All_parameters"><span class="tocnumber">1.1</span> <span class="toctext">All parameters</span></a></li>
</ul>
</li>
<li class="toclevel-1"><a href="#Contents"><span class="tocnumber">2</span> <span class="toctext">Contents</span></a></li>
<li class="toclevel-1"><a href="#Examples"><span class="tocnumber">3</span> <span class="toctext">Examples</span></a></li>
</ul>
</div>

<h2><span class="mw-headline" id="Usage">Usage</span></h2>
<h3><span class="mw-headline" id="All_parameters">All parameters</span></h3>
<table class="wikitable">
<tbody><tr>
<th class="header">Name
</th>
<th class="header">Examples
</th>
<th class="header">Description
</th></tr>
<tr>
<td colspan="3"><i><b>Line colors</b></i>
</td></tr>
<tr>
<td rowspan="6">type
</td>
<td style="border-left: 10px solid #1e90ff;"><i>type = notice</i> [default]
</td>
<td rowspan="6">Use the correct value for the message box.
</td></tr>
<tr>
<td style="border-left: 10px solid #ffcc00;"><i>type = style</i>
</td></tr>
<tr>
<td style="border-left: 10px solid #f28500;"><i>type = content</i>
</td></tr>
<tr>
<td style="border-left: 10px solid #b22222;"><i>type = delete</i>
</td></tr>
<tr>
<td style="border-left: 10px solid #bba;"><i>type = protection</i>
</td></tr>
<tr>
<td style="border-left: 10px solid #000000;"><i>type = images</i>
</td></tr>
<tr>
<td colspan="3"><i><b>Images</b></i>
</td></tr>
<tr>
<td>image
</td>
<td><i>Example.png</i>
</td>
<td>Places an image on the left of the message box.
</td></tr>
<tr>
<td>imagewidth
</td>
<td><i>56px</i> [default]
</td>
<td>Defines the width of the left image.
</td></tr>
<tr>
<td>imagealt
</td>
<td><i>Notice</i>
</td>
<td>Text to be displayed if image isn't shown properly.
</td></tr>
<tr>
<td>image2
</td>
<td><i>PD-icon.png</i>
</td>
<td>Places a second image on the right of the message box
</td></tr>
<tr>
<td>image2width
</td>
<td><i>56px</i> [default]
</td>
<td>Defines the width of the right image.
</td></tr>
<tr>
<td>image2alt
</td>
<td><i>Public Domain</i>
</td>
<td>Text to be displayed if the right image isn't shown properly.
</td></tr>
<tr>
<td colspan="3"><i><b>Other</b></i>
</td></tr>
<tr>
<td>width
</td>
<td>[<b>deprecated</b>]
</td>
<td><i>No longer available</i>
</td></tr>
<tr>
<td>style
</td>
<td>e.g. <i>font-size: 90%;</i>
</td>
<td>Takes any valid CSS style.
</td></tr>
<tr>
<td>contents
</td>
<td>(see below)
</td></tr></tbody></table>
<h2><span class="mw-headline" id="Contents">Contents</span></h2>
<p>Use <code>{{<a href="/wiki/Template:Ambox/message" title="Template:Ambox/message">ambox/message</a>}}</code> in the <i>contents</i> parameter. Example:
</p>
<pre>{{ambox/message
| 1 = Need some help ova here!
| 2 = This article needs cleaning up.
| 3 = You can help by editing it.
}}
</pre>
<p>produces...
</p><p><span style="font-size: 90%;"><i>“Need some help ova here!”</i></span><br /><span style="font-size: 100%; font-weight: bold;">This article needs cleaning up.</span><br /><span style="font-size: 95%;">You can help by editing it.</span><br />
</p>
<h2><span class="mw-headline" id="Examples">Examples</span></h2>
<ul><li>Ambox with no image: <code>{{ambox | type = notice | contents = '''Lorem ipsum''' dolor sit amet.}}</code></li></ul>
<p><br />
</p>
<table class="plainlinks ambox" style=""><tbody><tr>
   <td class="ambox-empty-cell ambox-notice"></td><td class="ambox-text"><b>Lorem ipsum</b> dolor sit amet.</td>
</tr></tbody></table>
<p><br />
</p>
<ul><li>Ambox with 2 images and custom style:</li></ul>
<pre>{{ambox 
| type     = images
| image    = Copyright.png
| image2   = Red copyright.png
| style    = font-family: Georgia, serif;
| contents = '''Lorem ipsum''' dolor sit amet.
}}
</pre>
<p><br />
</p>
<table class="plainlinks ambox" style="font-family: Georgia, serif;"><tbody><tr>
   <td class="ambox-image ambox-images"><a href="/wiki/File:Copyright.png" class="image"><img alt="Copyright.png" src="/w/images/thumb/b/b6/Copyright.png/56px-Copyright.png" width="56" height="56" srcset="/w/images/thumb/b/b6/Copyright.png/84px-Copyright.png 1.5x, /w/images/thumb/b/b6/Copyright.png/112px-Copyright.png 2x" data-file-width="200" data-file-height="200" /></a></td><td class="ambox-text"><b>Lorem ipsum</b> dolor sit amet.</td>
   <td class="ambox-image2"><a href="/wiki/File:Red_copyright.png" class="image"><img alt="Red copyright.png" src="/w/images/thumb/5/58/Red_copyright.png/56px-Red_copyright.png" width="56" height="56" srcset="/w/images/thumb/5/58/Red_copyright.png/84px-Red_copyright.png 1.5x, /w/images/thumb/5/58/Red_copyright.png/112px-Red_copyright.png 2x" data-file-width="500" data-file-height="500" /></a></td>
</tr></tbody></table>
</div>

<!-- 
NewPP limit report
Cached time: 20240506090841
Cache expiry: 86400
Dynamic content: false
CPU time usage: 0.037 seconds
Real time usage: 0.056 seconds
Preprocessor visited node count: 265/1000000
Preprocessor generated node count: 2176/1000000
Post‐expand include size: 10892/4194304 bytes
Template argument size: 394/4194304 bytes
Highest expansion depth: 8/40
Expensive parser function count: 1/100
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 397/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%   24.301      1 -total
100.00%   24.301      1 Template:Template_doc
 79.71%   19.370      1 Template:Ambox/doc
 31.86%    7.743      1 Template:Ambox/message
 22.94%    5.575      2 Template:Tl
 17.27%    4.196      2 Template:Lang
 10.14%    2.465      2 Template:Ambox
-->
</div>
<!-- Saved in parser cache with key tf_wiki:pcache:idhash:114-0!canonical and timestamp 20240506090841 and revision id 683542
 -->
</div>					<div class="printfooter">
						Retrieved from "<a dir="ltr" href="https://wiki.teamfortress.com/w/index.php?title=Template:Ambox&amp;oldid=683542">https://wiki.teamfortress.com/w/index.php?title=Template:Ambox&amp;oldid=683542</a>"					</div>
				<div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Special:Categories" title="Special:Categories">Category</a>: <ul><li><a href="/wiki/Category:Maintenance_templates" title="Category:Maintenance templates">Maintenance templates</a></li></ul></div></div>				<div class="visualClear"></div>
							</div>
		</div>
		<div id="mw-navigation">
			<h2>Navigation menu</h2>
			<div id="mw-head">
									<div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
						<h3 id="p-personal-label">Personal tools</h3>
						<ul>
							<li id="pt-createaccount"><a href="/w/index.php?title=Special:CreateAccount&amp;returnto=Template%3AAmbox" title="You are encouraged to create an account and log in; however, it is not mandatory">Create account</a></li><li id="pt-login"><a href="/w/index.php?title=Special:UserLogin&amp;returnto=Template%3AAmbox" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
					</div>
									<div id="left-navigation">
										<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
						<h3 id="p-namespaces-label">Namespaces</h3>
						<ul>
							<li id="ca-nstab-template" class="selected"><span><a href="/wiki/Template:Ambox" title="View the template [c]" accesskey="c">Template</a></span></li><li id="ca-talk" class="new"><span><a href="/w/index.php?title=Template_talk:Ambox&amp;action=edit&amp;redlink=1" rel="discussion" title="Discussion about the content page (page does not exist) [t]" accesskey="t">Discussion</a></span></li>						</ul>
					</div>
										<div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
												<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-variants-label" />
						<h3 id="p-variants-label">
							<span>Variants</span>
						</h3>
						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
									</div>
				<div id="right-navigation">
										<div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
						<h3 id="p-views-label">Views</h3>
						<ul>
							<li id="ca-view" class="collapsible selected"><span><a href="/wiki/Template:Ambox">Read</a></span></li><li id="ca-viewsource" class="collapsible"><span><a href="/w/index.php?title=Template:Ambox&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></span></li><li id="ca-history" class="collapsible"><span><a href="/w/index.php?title=Template:Ambox&amp;action=history" title="Past revisions of this page [h]" accesskey="h">View history</a></span></li>						</ul>
					</div>
										<div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
						<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="p-cactions-label" />
						<h3 id="p-cactions-label"><span>More</span></h3>
						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
										<div id="p-search" role="search">
						<h3>
							<label for="searchInput">Search</label>
						</h3>
						<form action="/w/index.php" id="searchform">
							<div id="simpleSearch">
								<input type="search" name="search" placeholder="Search Team Fortress Wiki" title="Search Team Fortress Wiki [f]" accesskey="f" id="searchInput"/><input type="hidden" value="Special:Search" name="title"/><input type="submit" name="fulltext" value="Search" title="Search the pages for this text" id="mw-searchButton" class="searchButton mw-fallbackSearchButton"/><input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists" id="searchButton" class="searchButton"/>							</div>
						</form>
					</div>
									</div>
			</div>
			<div id="mw-panel">
				<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="/wiki/Main_Page"  title="Official TF2 Wiki"></a></div>
						<div class="portal" role="navigation" id="p-Navigation" aria-labelledby="p-Navigation-label">
			<h3 id="p-Navigation-label">Navigation</h3>
			<div class="body">
								<ul>
					<li id="n-mainpage-description"><a href="/wiki/Main_Page" title="Visit the main page [z]" accesskey="z">Main page</a></li><li id="n-about"><a href="/wiki/Team_Fortress_Wiki">About</a></li><li id="n-recentchanges"><a href="/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [r]" accesskey="r">Recent changes</a></li><li id="n-randompage"><a href="/wiki/Special:Random" title="Load a random page [x]" accesskey="x">Random page</a></li><li id="n-Help"><a href="/wiki/Help:Contents">Help</a></li><li id="n-FAQ"><a href="/wiki/Team_Fortress_Wiki:FAQ">FAQ</a></li><li id="n-ircchannel"><a href="/wiki/Team_Fortress_Wiki:IRC">IRC channel</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-tb" aria-labelledby="p-tb-label">
			<h3 id="p-tb-label">Tools</h3>
			<div class="body">
								<ul>
					<li id="t-whatlinkshere"><a href="/wiki/Special:WhatLinksHere/Template:Ambox" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li><li id="t-recentchangeslinked"><a href="/wiki/Special:RecentChangesLinked/Template:Ambox" rel="nofollow" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li><li id="t-specialpages"><a href="/wiki/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li><li id="t-print"><a href="/w/index.php?title=Template:Ambox&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li><li id="t-permalink"><a href="/w/index.php?title=Template:Ambox&amp;oldid=683542" title="Permanent link to this revision of the page">Permanent link</a></li><li id="t-info"><a href="/w/index.php?title=Template:Ambox&amp;action=info" title="More information about this page">Page information</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Languages" aria-labelledby="p-Languages-label">
			<h3 id="p-Languages-label">Languages</h3>
			<div class="body">
								<ul>
					<li id="n-English"><a href="/wiki/Template:Ambox">English</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Team_Fortress_2" aria-labelledby="p-Team_Fortress_2-label">
			<h3 id="p-Team_Fortress_2-label">Team Fortress 2</h3>
			<div class="body">
								<ul>
					<li id="n-Download"><a href="https://store.steampowered.com/app/440" rel="nofollow">Download</a></li><li id="n-Blog"><a href="https://www.teamfortress.com" rel="nofollow">Blog</a></li><li id="n-Updates"><a href="https://store.steampowered.com/oldnews/?appids=440&amp;appgroupname=Team+Fortress+2&amp;feed=steam_updates" rel="nofollow">Updates</a></li><li id="n-steamnewshub"><a href="https://store.steampowered.com/news/app/440" rel="nofollow">News Hub</a></li><li id="n-communityhub"><a href="https://steamcommunity.com/app/440" rel="nofollow">Community Hub</a></li><li id="n-steamworkshop"><a href="https://www.teamfortress.com/workshop" rel="nofollow">Steam Workshop</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Team_Fortress_Classic" aria-labelledby="p-Team_Fortress_Classic-label">
			<h3 id="p-Team_Fortress_Classic-label">Team Fortress Classic</h3>
			<div class="body">
								<ul>
					<li id="n-tfcmainpage"><a href="https://wiki.teamfortress.com/wiki/Main_Page_%28Classic%29" rel="nofollow">Main Page</a></li><li id="n-Purchase"><a href="https://store.steampowered.com/app/20" rel="nofollow">Purchase</a></li><li id="n-steamnewshub"><a href="https://store.steampowered.com/news/app/20" rel="nofollow">News Hub</a></li><li id="n-communityhub"><a href="https://steamcommunity.com/app/20" rel="nofollow">Community Hub</a></li>				</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id="p-Valve_Wiki_Network" aria-labelledby="p-Valve_Wiki_Network-label">
			<h3 id="p-Valve_Wiki_Network-label">Valve Wiki Network</h3>
			<div class="body">
								<ul>
					<li id="n-Combine-OverWiki"><a href="https://combineoverwiki.net" rel="nofollow">Combine OverWiki</a></li><li id="n-Left-4-Dead-Wiki"><a href="https://left4dead.fandom.com" rel="nofollow">Left 4 Dead Wiki</a></li><li id="n-Portal-Wiki"><a href="https://theportalwiki.com" rel="nofollow">Portal Wiki</a></li>				</ul>
							</div>
		</div>
				</div>
		</div>
				<div id="footer" role="contentinfo">
						<ul id="footer-info">
								<li id="footer-info-lastmod"> This page was last edited on 19 August 2011, at 10:11.</li>
							</ul>
						<ul id="footer-places">
								<li id="footer-places-about"><a href="/wiki/Team_Fortress_Wiki" title="Team Fortress Wiki">About Team Fortress Wiki</a></li>
								<li id="footer-places-disclaimer"><a href="/wiki/Team_Fortress_Wiki:Terms_of_Use" title="Team Fortress Wiki:Terms of Use">Terms of Use</a></li>
							</ul>
										<ul id="footer-icons" class="noprint">
										<li id="footer-poweredbyico">
						<a href="//www.mediawiki.org/"><img src="/w/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="/w/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /w/resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>					</li>
									</ul>
						<div style="clear: both;"></div>
		</div>
		<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgPageParseReport":{"limitreport":{"cputime":"0.037","walltime":"0.056","ppvisitednodes":{"value":265,"limit":1000000},"ppgeneratednodes":{"value":2176,"limit":1000000},"postexpandincludesize":{"value":10892,"limit":4194304},"templateargumentsize":{"value":394,"limit":4194304},"expansiondepth":{"value":8,"limit":40},"expensivefunctioncount":{"value":1,"limit":100},"unstrip-depth":{"value":0,"limit":20},"unstrip-size":{"value":397,"limit":5000000},"timingprofile":["100.00%   24.301      1 -total","100.00%   24.301      1 Template:Template_doc"," 79.71%   19.370      1 Template:Ambox/doc"," 31.86%    7.743      1 Template:Ambox/message"," 22.94%    5.575      2 Template:Tl"," 17.27%    4.196      2 Template:Lang"," 10.14%    2.465      2 Template:Ambox"]},"cachereport":{"timestamp":"20240506090841","ttl":86400,"transientcontent":false}}});});</script><script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgBackendResponseTime":465});});</script>
	</body>
</html>
