@charset "utf-8";
/* CSS Document */

body {
	background-color:#000000;
	padding:0;
	margin:0;
}

#center {
	margin-left:auto;
	margin-right:auto;
	background-position:center top;
	background-image:url(CompanionCube.jpg);
	background-repeat:no-repeat;
	height:900px;
	width:900px;
}

#button {
	padding-top:800px;
}