@charset "utf-8";
/* CSS Document */

body {
	background-color:#151616;
	margin:0;
	padding:0;
	background-image:url(images/bg_main.jpg);
	background-repeat:repeat-y;
	background-position:center top;
}

#pageContainer {
	width:880px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	text-align:right;
	color:#c3c3c3;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

#bgTop {
	background-image:url(images/bg_top.jpg);
	background-repeat:no-repeat;
	height:100px;
}

a	{
	color:#888888;
	text-decoration:none;
}

a:hover	{
	color:#ffffff;

}
	

#nav_top {
	position:absolute;
	right:40px;
	top:30px;
}

#nav_bottom {
	float:right;
	padding-right:40px;
	padding-top:14px;
}



#homeLink {
	position:absolute;
	left:43px;
	top:30px;
}


#valve {
	text-align:left;
	padding-left:40px;
	padding-top:14px;
}

#footer {
	background-image:url(images/bg_footer.jpg);
	background-repeat:no-repeat;
	height:120px;
}

#comic_1 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/01.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1371px;
}

#comic_2 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/02.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1258px;
}

#comic_3 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/03.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1375px;
}

#comic_4 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/04.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:2313px;
}

#comic_5 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/05.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1889px;
}

#comic_6 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/06.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1700px;
}

#comic_7 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/07.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:2326px;
}

#comic_8 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/08.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:2182px;
}

#comic_9 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/09.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:2191px;
}

#comic_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/10.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:2106px;
}

#comic_11 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/11.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1557px;
}

#comic_12 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/12.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1418px;
}

#comic_13 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/engycomic/13.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1544px;
}

#issue97 {
	position:absolute;
	right:102px;
	top:550px;
}




