@charset "utf-8";
/* CSS Document */

body {
	background-color:#111111;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#c3c4bb;
	text-align:left;
/*	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_horizontal_tile.jpg);
	background-repeat:repeat-x;
	background-position:top;
*/
}

p {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#d4d7dd;
	text-align:left;
}

a {
	text-decoration:none;
	color:#6b6b6b;
	font-size:14px;
}

a:hover {
	color:#e8e9e9;
}

#homeLink {
	position:absolute;
	display:block;
	width:243px;
	height:64px;
	top:41px;
	left:-41px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/logo.jpg);
}

#mannhattanLink {
	position:absolute;
	display:block;
	width:253px;
	height:58px;
	top:168px;
	left:213px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/mannhattan.jpg);
}

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:235px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:480px;
}

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:1055px;
	z-index:2;
}

#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:1034px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:1005px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:1028px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/twocities/rottenburg/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:954px;
	height:709px;
}

#tubeBlock {
	position:absolute;
	width:853px;
	height:480px;
	left:52px;
	top:0px;
}

#copy_04_01 {
	position:absolute;
	width:763px;
	left:97px;
	top:59px;
	font-size:17px;
	line-height:25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color:#d1d1d1;
}

#copy_04_02 {
	position:absolute;
	width:352px;
	left:73px;
	top:500px;
	font-size:17px;
	line-height:24px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color:#d3d3d3;
}

#copy_05_01 {
	position:absolute;
	width:505px;
	left:89px;
	top:800px;
	font-size:17px;
	line-height:23px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color:#d3d3d3;
}


/* --- achievements --- */

#achievements {
	position:absolute;
	width:900px;
	left:42px;
	top:453px;
}
	

#achievement_A_01 {
	position:absolute;
	left:234px;
	top:130px;
}

#achievement_A_01_desc {
	position:absolute;
	left:234px;
	top:158px;
}

#achievement_A_02 {
	position:absolute;
	left:234px;
	top:207px;
}

#achievement_A_02_desc {
	position:absolute;
	left:234px;
	top:236px;
}

#achievement_A_03 {
	position:absolute;
	left:234px;
	top:284px;
}

#achievement_A_03_desc {
	position:absolute;
	left:234px;
	top:339px;
}

#achievement_A_04 {
	position:absolute;
	left:234px;
	top:361px;
}

#achievement_A_04_desc {
	position:absolute;
	left:234px;
	top:429px;
}

#achievement_A_05 {
	position:absolute;
	left:234px;
	top:438px;
}

#achievement_A_05_desc {
	position:absolute;
	left:234px;
	top:516px;
}

#achievement_B_01 {
	position:absolute;
	left:572px;
	top:130px;
}

#achievement_B_01_desc {
	position:absolute;
	left:572px;
	top:158px;
}

#achievement_B_02 {
	position:absolute;
	left:572px;
	top:207px;
}

#achievement_B_02_desc {
	position:absolute;
	left:572px;
	top:248px;
}

#achievement_B_03 {
	position:absolute;
	left:572px;
	top:284px;
}

#achievement_B_03_desc {
	position:absolute;
	left:572px;
	top:338px;
}

#achievement_B_04 {
	position:absolute;
	left:572px;
	top:361px;
}

#achievement_B_04_desc {
	position:absolute;
	left:572px;
	top:427px;
}


.name {
	font-size: 16px;
	font-weight: bold;
	color: #ee7727;
}

.desc {
	font-size: 12px;
	line-height:16px;
	width:260px;
}


/* --- end achievements --- */

.button:hover {
	background-position:bottom;
}




