@charset "utf-8";
/* CSS Document */

body {
	background-color:#8f8d81;
	margin:0;
	padding:0;
	background-image:url(images/bg_main.jpg);
	background-repeat:repeat-x;
}

#pageContainer {
	width:880px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
	text-align:right;
	color:#b7783c;
	background-image:url(images/bg_repeat.jpg);
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

#bgTop_back {
	background-image:url(images/bg_top_back.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	width:880px;
}

#bgTop {
	background-image:url(images/bg_top.jpg);
	background-repeat:no-repeat;
	height:100px;
}

a	{
	color:#ffffff;
	text-decoration:none;
}

a:hover	{
	color:#ffffff;
	text-decoration:underline;

}
	

#nav_top {
	position:absolute;
	right:40px;
	top:30px;
}

#nav_bottom {
	float:right;
	padding-right:40px;
	padding-top:14px;
}



#homeLink {
	position:absolute;
	left:43px;
	top:30px;
}


#valve {
	text-align:left;
	padding-left:40px;
	padding-top:14px;
}

#footer {
	background-image:url(images/bg_footer.jpg);
	background-repeat:no-repeat;
	height:121px;
}

#comic_1 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bidwells_big_plan/01.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1320px;
}

#comic_2 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bidwells_big_plan/02.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1320px;
}

#comic_3 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bidwells_big_plan/03.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1257px;
}

#comic_4 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bidwells_big_plan/04.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1257px;
}

#comic_5 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bidwells_big_plan/05.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1257px;
}

#comic_6 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/bidwells_big_plan/06.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	margin-left:40px;
	width:800px;
	height:1257px;
}






