#container_01, #content_01 {
	background-image:url('../images/gallery_01.jpg');
	height:944px;
}
#container_02, #content_02 {
	background-image:url('../images/gallery_02.jpg');
	height:1016px;
}
.content, .gallery_display,#gallery_pos {
	width:1270px;
}
.header {
	width:984px;
	margin:auto;
	position:relative;
}
#gallery_pos {
	position:absolute;
	margin:auto;
	top:140px;
}
#sfm_pos {
	width:1270px;
	position:absolute;
	margin:auto;
	float:left;
	top:316px;
}
.gallery_box {
	position:relative;
	float:left;
	background-position: center;
	background-repeat:no-repeat;
	width:254px;
	height:268px;
}
.sfm_box {
	position:relative;
	float:left;
	background-position: center;
	background-repeat:no-repeat;
	width:308px;
	height:243px;
}
#bottom_row {
	width:762px;
	margin:auto;
	position: relative;
}
#row_pos {
	width:1270px;
	top:0px;
}
#final_stand_thumb:hover {
	background-image:url(../images/gallery_thumbs/final_stand.jpg);
}
#gaggle_thumb:hover {
	background-image:url(../images/gallery_thumbs/gaggle.jpg);
}
#upgrade_thumb:hover {
	background-image:url(../images/gallery_thumbs/upgrade.jpg);
}
#brobots_thumb:hover {
	background-image:url(../images/gallery_thumbs/brobots.jpg);
}
#future_engy_01_thumb:hover {
	background-image:url(../images/gallery_thumbs/future_engy_01.jpg);
}
#bites_brigade_thumb:hover {
	background-image:url(../images/gallery_thumbs/bites_brigade.jpg);
}
#hello_friends_thumb:hover {
	background-image:url(../images/gallery_thumbs/hello_friends.jpg);
}
#jealousy_thumb:hover {
	background-image:url(../images/gallery_thumbs/jealousy.jpg);
}
#let_us_fight_thumb:hover {
	background-image:url(../images/gallery_thumbs/let_us_fight.jpg);
}
#dapper_medibot_thumb:hover {
	background-image:url(../images/gallery_thumbs/dapper_medibot.jpg);
}
#tyrants_thumb:hover {
	background-image:url(../images/gallery_thumbs/tyrants.jpg);
}
#beak_thumb:hover {
	background-image:url(../images/gallery_thumbs/beak.jpg);
}
#future_engy_02_thumb:hover {
	background-image:url(../images/gallery_thumbs/future_engy_02.jpg);
}
#billycock_thumb:hover {
	background-image:url(../images/gallery_thumbs/billycock.jpg);
}
#shako_thumb:hover {
	background-image:url(../images/gallery_thumbs/shako.jpg);
}
#rock_mann_thumb:hover {
	background-image:url(../images/gallery_thumbs/rock_mann.jpg);
}
#clunk_thumb:hover {
	background-image:url(../images/gallery_thumbs/clunk.jpg);
}
#victory_thumb:hover {
	background-image:url(../images/gallery_thumbs/victory.jpg);
}
#evel_thumb:hover {
	background-image:url(../images/gallery_thumbs/evel.jpg);
}
#medicine_thumb:hover {
	background-image:url(../images/gallery_thumbs/medicine.jpg);
}
#monthly_thumb:hover {
	background-image:url(../images/gallery_thumbs/monthly.jpg);
}
#demolition_thumb:hover {
	background-image:url(../images/gallery_thumbs/demolition.jpg);
}
#boys_thumb:hover {
	background-image:url(../images/gallery_thumbs/boys.jpg);
}
#trade_secrets_thumb:hover {
	background-image:url(../images/gallery_thumbs/trade_secrets.jpg);
}
#western_thumb:hover {
	background-image:url(../images/gallery_thumbs/western.jpg);
}
#botheads_thumb:hover {
	background-image:url(../images/gallery_thumbs/botheads.jpg);
}
#legal {
	bottom:50px;
	left:191px;
}