@charset "utf-8";
/* CSS Document */

body {
	background-color:#000000;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#c3c4bb;
	text-align:left;
}

a {
	text-decoration:none;
	color:#6b6b6b;
	font-size:14px;
}

a:hover {
	color:#e8e9e9;
}

img {
	border:none;
}

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:480px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:920px;
	z-index:2;
}

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1000px;
	z-index:2;
}

#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:700px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:616px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1100px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:114px;
}


#logoLink {
	display:block;
	position:absolute;
	top:17px;
	left:61px;
	width:255px;
	height:67px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/logolink.png);
	background-position:top;
}
#logoLink:hover {
	background-position:bottom;
}

#comicLink {
	display:block;
	position:absolute;
	top:45px;
	right:0px;
	width:104px;
	height:84px;
}
	

#copy_03_01 {
	position:absolute;
	width:739px;
	text-align:left;
	color:#eeeeee;
	left:127px;
	top:6px;
	font-size:16px;
	letter-spacing:0px;
	line-height:25px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_02 {
	position:absolute;
	width:310px;
	left:586px;
	top:635px;
	font-size:14px;
	line-height:22px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_04_01 {
	position:absolute;
	width:524px;
	left:76px;
	top:74px;
	color:#eeeeee;
	font-size:14px;
	line-height:22px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.achievement {
	color:#3e3e3e;
	font-size:14px;
	position:absolute;
	width:236px;
	text-align:left;
	line-height:20px;
	visibility:hidden;
}
.achievement span {
	display:block;
	font-weight:bold;
	font-size:18px;
}
.achc1 {
	left:261px;
}
.achc2 {
	left:606px;
}
#ach1,#ach4 {
	top:289px;
}
#ach2,#ach5 {
	top:375px;
}
#ach3,#ach6 {
	top:461px;
}

#eyeballs {
	width:311px;
	height:203px;
	position:absolute;
	top:205px;
	left:337px;
	background:url(https://steamcdn-a.akamaihd.net/apps/tf2/screamfortress6/images/eyes.jpg) 0 0 no-repeat;
	z-index:1000;
}




.button:hover {
	background-position:bottom;
}




