@charset "utf-8";

/* CSS Document */
body {
	background-color: #050507;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #C3C4BB;
	text-align: left;
}

a {
	text-decoration: none;
	color: #6B6B6B;
	font-size: 14px;
}

a:hover {
	color: #E8E9E9;
}

img {
	border: none;
}

#bgc_01 {
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bgc_01.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#container_01 {
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bgc_01.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 1001px;
}

#bgc_02 {
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bgc_02.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

#container_02 {
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bgc_02.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	height: 643px;
}

.contributor {
	position: absolute;
	width: 223px;
	height: 45px;
	display: block;
}

.contributor:hover {
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/contributor_hover.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
	width: 223px;
	height: 45px;
	display: block;
}


#ronin {
	left: 39px;
	top: 344px;
}
#bang {
	left: 271px;
	top: 344px;
}
#frozen {
	left: 503px;
	top: 344px;
}
#void {
	left: 735px;
	top: 344px;
}

#cobaltgemini {
	left: 39px;
	top: 399px;
}
#harry {
	left: 271px;
	top: 399px;
}
#hasan {
	left: 503px;
	top: 399px;
}
#chaofanatic {
	left: 735px;
	top: 399px;
}

#svdl {
	left: 39px;
	top: 453px;
}
#freeflow {
	left: 271px;
	top: 453px;
}
#leswordfish {
	left: 503px;
	top: 453px;
}
#mnemosynaut {
	left: 735px;
	top: 453px;
}

#retro {
	left: 39px;
	top: 507px;
}
#square {
	left: 271px;
	top: 507px;
}
#super_soupy {
	left: 503px;
	top: 507px;
}

#sir_grey {
	left: 735px;
	top: 507px;
}


#ruskey {
	left: 39px;
	top: 562px;
}
#agro {
	left: 271px;
	top: 562px;
}
#doug {
	left: 503px;
	top: 562px;
}
#tempest {
	left: 735px;
	top: 562px;
}

#chronos {
	left: 39px;
	top: 616px;
}


#bakscratch {
	left: 39px;
	top: 702px;
}
#crash {
	left: 271px;
	top: 702px;
}
#egan {
	left: 503px;
	top: 702px;
}
#idolon {
	left: 735px;
	top: 702px;
}

#wgooch {
	left: 39px;
	top: 757px;
}

#freyja {
	left: 271px;
	top: 757px;
}

#ravidge {
	left: 503px;
	top: 757px;
}

#seba {
	left: 735px;
	top: 757px;
}


#gerbil {
	left: 39px;
	top: 811px;
}

#boylee {
	left: 271px;
	top: 811px;
}

#helljumper {
	left: 503px;
	top: 811px;
}

#equinoxo {
	left: 735px;
	top: 811px;
}


#umbootile {
	left: 39px;
	top: 865px;
}
#fissionmutilation101 {
	left: 271px;
	top: 865px;
}

#evil_knevil {
	left: 503px;
	top: 865px;
}

#neodement {
	left: 735px;
	top: 865px;
}

#nassimo {
	left: 39px;
	top: 921px;
}



#blue_paratroopa {
	left: 39px;
	top: 59px;
}
#callegos-y {
	left: 271px;
	top: 59px;
}
#cdjo {
	left: 503px;
	top: 59px;
}
#constructor {
	left: 735px;
	top: 59px;
}


#donhonk {
	left: 39px;
	top: 114px;
}
#druida {
	left: 271px;
	top: 114px;
}
#flat_penguin {
	left: 503px;
	top: 114px;
}
#hypo {
	left: 735px;
	top: 114px;
}

#jpras {
	left: 39px;
	top: 168px;
}
#jukebox {
	left: 271px;
	top: 168px;
}
#metabolic {
	left: 503px;
	top: 168px;
}
#mrgibbly {
	left: 735px;
	top: 168px;
}


#nonamesleft {
	left: 39px;
	top: 222px;
}
#psyke {
	left: 271px;
	top: 222px;
}
#questionablyinsane {
	left: 503px;
	top: 222px;
}
#rare_aquatic_pyro {
	left: 735px;
	top: 222px;
}

#ryan {
	left: 39px;
	top: 276px;
}
#sedimentarysock {
	left: 271px;
	top: 276px;
}
#sky {
	left: 503px;
	top: 276px;
}
#smasters {
	left: 735px;
	top: 276px;
}

#sparkwire {
	left: 39px;
	top: 331px;
}
#squareb {
	left: 271px;
	top: 331px;
}
#the_duke {
	left: 503px;
	top: 331px;
}
#wasp {
	left: 735px;
	top: 331px;
}


#md_frog {
	left: 39px;
	top: 473px;
}
#toads {
	left: 271px;
	top: 473px;
}
#vahlok_the_jailor {
	left: 503px;
	top: 473px;
}

#credits_button:hover {
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/credits_highlight.jpg);
	background-position: top;
	position: absolute;
	top: 521px;
	left: 251px;
	width: 490px;
	height: 177px;
	display: block;
}

#legal {
	position: absolute;
	left: 52px;
	bottom: 25px;
	width: 888px;
	height: 30px;
	display: block;
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/blizzbobarrabas/legal.png);
}