﻿@charset "utf-8";
/* CSS Document */

body {
	background-color:#050507;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#c3c4bb;
	text-align:left;
}

a {
	text-decoration:none;
	color:#1EDAA7;
	font-size:16px;
}

a:hover {
	color:#ffffff;
}

img {
	border:none;
}

#video {
    display:block;
    position:absolute;
    top:20px;
    left:69px;
}


#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_01.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:400px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_02.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:856px;
}

#credits_button {
    position:absolute;
    top:520px;
    left:251px;
    width:490px;
    height:177px;
	display:block;
}

#credits_button:hover {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/credits_highlight.jpg);
    background-position:top;
    position:absolute;
    top:521px;
    left:251px;
    width:490px;
    height:177px;
	display:block;
}

#intro_text {
	position:absolute;
	width:700px;
	left:145px;
	top:725px;
	text-align:center;
	color:#cacaca;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_03.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:877px;
}



#invasion_event {
	position:absolute;
	width:600px;
	left:200px;
	top:85px;
	text-align:center;
	color:#cacaca;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);

}

#invasion_pass {
	position:absolute;
	width:380px;
	left:499px;
	top:275px;
	text-align:left;
	color:#cacaca;
	font-size:16px;
	line-height:25px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#invasion_cases {
	position:absolute;
	width:380px;
	left:100px;
	top:605px;
	text-align:left;
	color:#cacaca;
	font-size:16px;
	line-height:25px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_04.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:854px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_05.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1200px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_06.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:812px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_07.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1036px;
}

#invasion_weapons {
	position:absolute;
	width:700px;
	left:137px;
	top:430px;
	text-align:center;
	color:#cacaca;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_08.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_08.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1345px;
}

#invasion_cosmetics {
	position:absolute;
	width:890px;
	left:38px;
	top:1160px;
	text-align:center;
	color:#cacaca;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#bg_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_09.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/invasion/images/bg_09.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1157px;
}

#invasion_taunt {
	position:absolute;
	width:700px;
	left:137px;
	top:790px;
	text-align:center;
	color:#cacaca;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#maps_intro {
	position:absolute;
	width:700px;
	left:137px;
	top:125px;
	text-align:center;
	color:#cacaca;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

/* slider controls */

.controls:hover{
	opacity: .7;
	cursor: pointer;
	tint: white;
}

/* 2fort invasion */

#teufort_invasion_slider{
	margin-left: auto;
	margin-right: auto;
}

#teufort_invasion_slider_container{
	position: absolute;
	width: 964px;
	top: 250px;
	left: 12px;
	-ms-transform: rotate(-0.5deg); /* IE 9 */
    -webkit-transform: rotate(-0.5deg); /* Chrome, Safari, Opera */
    transform: rotate(-0.5deg);
	z-index: 1010;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#teufort_invasion_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#teufort_invasion_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}



/* watergate */

#watergate_slider{
	margin-left: auto;
	margin-right: auto;
}

#watergate_slider_container{
	position: absolute;
	width: 964px;
	top: 10px;
	left: 12px;
	-ms-transform: rotate(-0.8deg); /* IE 9 */
    -webkit-transform: rotate(-0.8deg); /* Chrome, Safari, Opera */
    transform: rotate(-0.8deg);
	z-index: 1009;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#watergate_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#watergate_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}


/* probed */

#probed_slider{
	margin-left: auto;
	margin-right: auto;
}

#probed_slider_container{
	position: absolute;
	width: 964px;
	top: 620px;
	left: 0px;
	-ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
	z-index: 1008;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#probed_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#probed_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}


/* byre */

#byre_slider{
	margin-left: auto;
	margin-right: auto;
}

#byre_slider_container{
	position: absolute;
	width: 964px;
	top:10px;
	left: 0px;
	-ms-transform: rotate(-0.6deg); /* IE 9 */
    -webkit-transform: rotate(-0.6deg); /* Chrome, Safari, Opera */
    transform: rotate(-0.6deg);
	z-index: 1008;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#byre_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/next_maps.png);
	position: absolute;
	left: 906px;
	top: 272px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#byre_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/gunmettle/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 268px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}


#legal {
	position:absolute;
	left:52px;
	bottom:94px;
	width:888px;
	height:30px;
	display:block;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/blizzbobarrabas/legal.png);
}

#tf2_logo {
	position:absolute;
	top:22px;
	left:97px;
	width:310px;
	height:74px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/mechaupdate/images/tf_logo.png);
}

#tf2_logo_footer {
	position:absolute;
	bottom:0px;
	left:370px;
	width:240px;
	height:92px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/mechaupdate/images/tf_logo_footer.png);
}

