﻿@charset "utf-8";
/* CSS Document */

body {
	background-color:#141313;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#cacaca;
	font-size:16px;
	line-height:22px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:left;
	font-size:65px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:3px;
	color: #ececd0;
	text-shadow: 2px 8px 12px rgba(0, 0, 0, 1);
}

.h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:left;
	line-height:32px;
	font-size:28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #cacaca;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.day2_h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:left;
	line-height:56px;
	font-size:46px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:1px;
	color: #98d7fe;
	text-shadow: 2px 8px 12px rgba(0, 0, 0, 1);
}


a {
	text-decoration:none;
	color:#ffffff;
	font-size:16px;
}

a:hover {
	color:#a82e2e;
}

img {
	border:none;
}

#rank_img {
    width:150px;
    margin:auto;
}

#rank13_img{
    display:block;
    width:150px;
    margin:auto;
}

#badge_div img {
    display:inline-block;
    margin: 0 40px;
}

#badge_div {
    text-align:center;
}


#logoLink {
	display:block;
	position:absolute;
	top:8px;
	left:372px;
	width:220px;
	height:50px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/logolink.png?v=102);
	background-position:top;
}
#logoLink:hover {
	background-position:bottom;
}

#faq_logoLink {
	display:block;
	position:absolute;
	top:60px;
	left:388px;
	width:220px;
	height:50px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/logolink.png?v=102);
	background-position:top;
}
#faq_logoLink:hover {
	background-position:bottom;
}

#updatelogoLink {
	display:block;
	position:absolute;
	top:128px;
	left:392px;
	width:211px;
	height:118px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/meetyourmatch_logo_small.png?v=102);
	background-position:top;
}
#updatelogoLink:hover {
	background-position:bottom;
}

#daytwoLink {
	display:block;
	position:absolute;
	left:591px;
	top:39px;
	width:111px;
	height:58px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/daytwolink.png?v=102);
}

	#daytwoLink:hover {
	background-position:bottom;
}

.redheader {
	color:#d85656;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size:17px;
	text-transform: uppercase;
	letter-spacing:0px;
	line-height:22px;
}

.faq_header {
	color:#74bbe7;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size:16px;
	text-transform: uppercase;
	letter-spacing:0px;
	line-height:22px;
	margin-top:20px;
}

#video {
    display:block;
    position:absolute;
    top:332px;
    left:70px;
}

div#preload 
{ 
	display: none; 
}



/* popup video classes for fades 
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
*/


/* day one */

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:985px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:830px;
	z-index:2;
}

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_03.jpg?v=114);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_03.jpg?v=114);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:660px;
	z-index:2;
}

#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:560px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:870px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_06.jpg?v=105);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_06.jpg?v=105);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1160px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_07.jpg?v=105);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1150px;
}

#bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:970px;
}





/* day one copy */

#copy_02_01 {
	position:absolute;
	width:800px;
	text-align:left;
	color:#cacaca;
	left:110px;
	top:126px;
		font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_01 {
	position:absolute;
	width:650px;
	left:190px;
	top:115px;
}

#copy_03_02 {
	position:absolute;
	width:500px;
	left:496px;
	top:184px;
}

#copy_03_03 {
	position:absolute;
	width:360px;
	left:496px;
	top:220px;
	text-align:left;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_04_01 {
	position:absolute;
	width:650px;
	left:279px;
	top:22px;
}

#copy_04_02 {
	position:absolute;
	width:500px;
	left:85px;
	top:85px;
}

#copy_04_03 {
	position:absolute;
	width:356px;
	left:85px;
	top:122px;
	text-align:left;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_07_01 {
	position:absolute;
	width:420px;
	text-align:left;
	color:#cacaca;
	left:51px;
	top:216px;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


/* FAQ containers */

#faq_bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/faq_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#faq_container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/faq_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:405px;
}

#faq_bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/faq_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	z-index:2;
}

#faq_container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/faq_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:3300px;
	z-index:2;
}

#faq_bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/faq_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#faq_container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/faq_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:310px;
	z-index:2;
}

/* faq copy */

#faq_copy_01_01 {
	position:absolute;
	width:700px;
	text-align:left;
	color:#cacaca;
	left:136px;
	top:0px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


.button:hover {
	background-position:bottom;
}




