@charset "utf-8";
/* CSS Document */

body {
	background-color:#141313;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#cacaca;
	font-size:14px;
	line-height:22px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:left;
	font-size:46px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:3px;
	color: #ececd0;
	text-shadow: 2px 8px 12px rgba(0, 0, 0, 1);
}

.h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:left;
	line-height:32px;
	font-size:28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #cacaca;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.day2_h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:left;
	line-height:56px;
	font-size:46px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:1px;
	color: #98d7fe;
	text-shadow: 2px 8px 12px rgba(0, 0, 0, 1);
}


a {
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
}

a:hover {
	color:#a82e2e;
}

img {
	border:none;
}

#logoLink {
	display:block;
	position:absolute;
	top:8px;
	left:372px;
	width:220px;
	height:50px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/logolink.png?v=102);
	background-position:top;
}
#logoLink:hover {
	background-position:bottom;
}

#faq_logoLink {
	display:block;
	position:absolute;
	top:60px;
	left:388px;
	width:220px;
	height:50px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/logolink.png?v=102);
	background-position:top;
}
#faq_logoLink:hover {
	background-position:bottom;
}

#updatelogoLink {
	display:block;
	position:absolute;
	top:128px;
	left:392px;
	width:211px;
	height:118px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/meetyourmatch_logo_small.png?v=102);
	background-position:top;
}
#updatelogoLink:hover {
	background-position:bottom;
}

#comicLink {
	display:block;
	position:absolute;
	top:38px;
	left:520px;
	width:378px;
	height:284px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/comiclink.png?v=102);
}
	
	#comicLink:hover {
	background-position:bottom;
}

#minmax {
	display:block;
	position:relative;
    width:483px;
    left:72px;
    top:436px;
	width:438px;
	height:274px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/minmax.png?v=102);
}
	
	#minmax:hover {
	background-position:bottom;
}

#dayoneLink {
	display:block;
	position:absolute;
	left:252px;
	top:35px;
	width:113px;
	height:60px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/dayonelink.png?v=102);
}

	#dayoneLink:hover {
	background-position:bottom;
}

#daytwoOff {
	display:block;
	position:absolute;
	top:41px;
	left:689px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/daytwo_off.png?v=102);
}

	#daytwoOff:hover {
	background-position:bottom;
}

#dayoneOff {
	display:block;
	position:absolute;
	top:41px;
	left:574px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/dayone_off.png?v=102);
}

	#dayoneOff:hover {
	background-position:bottom;
}

#daytwoOn {
	display:block;
	position:absolute;
	top:41px;
	left:689px;
	width:111px;
	height:53px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/daytwo_on.png?v=102);
}

	#daytwoOn:hover {
	background-position:bottom;
}

.redheader {
	color:#d85656;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size:17px;
	text-transform: uppercase;
	letter-spacing:0px;
	line-height:22px;
}

.faq_header {
	color:#74bbe7;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
	font-size:16px;
	text-transform: uppercase;
	letter-spacing:0px;
	line-height:22px;
	margin-top:20px;
}

#video {
    display:block;
    position:absolute;
    top:332px;
    left:70px;
}

div#preload 
{ 
	display: none; 
}

#popup_balloonibouncer {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/balloonibouncer.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:106px;
	top:732px;
}

#popup_carlton {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/carlton.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:403px;
	top:566px;
}

#popup_discofever {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/disco_fever.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:203px;
	top:446px;
}

#popup_fubarfanfare {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/fubar_fanfare.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:430px;
	top:516px;
}

/* popup video classes for fades 
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
*/



/* day two containers */

#day2_bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#day2_container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1120px;
	z-index:2;
}

#day2_bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#day2_container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:920px;
	z-index:2;
}

#day2_bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
}

#day2_container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:710px;
}

#day2_bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:590px;
}

#day2_bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:900px;
}

#day2_bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:960px;
}

#day2_bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1180px;
}

#day2_bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:760px;
}

#day2_bg_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_09.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_09.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:700px;
}

#day2_bg_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_10.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
}

#day2_container_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_10.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:5300px;
	z-index:4;
}

#day2_bg_11 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_11.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#day2_container_11 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/meetyourmatch/images/123qwe_day2_bg_11.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:244px;
}



/* day 2 copy */

#day2_copy_01_01 {
	position:absolute;
	width:800px;
	left:106px;
	top:1074px;
	text-align:left;
}

#day2_copy_02_01 {
	position:absolute;
	width:395px;
	left:106px;
	top:16px;
	text-align:left;
}

#day2_copy_02_02 {
	position:absolute;
	width:800px;
	left:106px;
	top:484px;
	text-align:left;
}

#day2_copy_02_03 {
	position:absolute;
	width:455px;
	left:106px;
	top:638px;
	text-align:left;
}

#day2_copy_03_01 {
	position:absolute;
	width:400px;
	left:403px;
	top:468px;
	text-align:left;
}

#day2_copy_04_01 {
	position:absolute;
	width:400px;
	left:203px;
	top:374px;
	text-align:left;
}


#day2_copy_05_01 {
	position:absolute;
	width:320px;
	left:430px;
	top:414px;
	text-align:left;
}


#day2_copy_06_01 {
	position:absolute;
	width:500px;
	left:280px;
	top:120px;
	text-align:left;
}

#day2_copy_06_02 {
	position:absolute;
	width:350px;
	left:106px;
	top:204px;
	text-align:left;
}

#day2_copy_06_03 {
	position:absolute;
	width:350px;
	left:106px;
	top:246px;
	text-align:left;
}

#day2_copy_06_04 {
	position:absolute;
	width:350px;
	left:502px;
	top:626px;
	text-align:left;
}

#day2_copy_06_05 {
	position:absolute;
	width:350px;
	left:502px;
	top:664px;
	text-align:left;
}
#day2_copy_07_01 {
	position:absolute;
	width:500px;
	left:106px;
	top:30px;
	text-align:left;
}

#day2_copy_07_02 {
	position:absolute;
	width:350px;
	left:106px;
	top:70px;
	text-align:left;
}

#day2_copy_07_03 {
	position:absolute;
	width:500px;
	left:550px;
	top:480px;
	text-align:left;
}

#day2_copy_07_04 {
	position:absolute;
	width:350px;
	left:550px;
	top:546px;
	text-align:left;
}

#day2_copy_07_05 {
	position:absolute;
	width:380px;
	left:550px;
	top:622px;
	text-align:left;
}

#day2_copy_07_06 {
	position:absolute;
	width:280px;
	left:106px;
	top:800px;
	text-align:left;
}

#day2_copy_07_07 {
	position:absolute;
	width:350px;
	left:106px;
	top:924px;
	text-align:left;
}

#day2_copy_07_08 {
	position:absolute;
	width:320px;
	left:106px;
	top:970px;
	text-align:left;
}

#day2_copy_08_01 {
	position:absolute;
	width:320px;
	left:540px;
	top:420px;
	text-align:left;
}

#day2_copy_08_02 {
	position:absolute;
	width:340px;
	left:540px;
	top:540px;
	text-align:left;
}

#day2_copy_09_01 {
	position:absolute;
	width:500px;
	left:230px;
	top:572px;
	text-align:center;
}

#day2_copy_10_01 {
	position:absolute;
	width:720px;
	left:106px;
	top:40px;
	text-align:left;
}

/

.button:hover {
	background-position:bottom;
}




