@charset "utf-8";
/* CSS Document */

body {
	background-color:#201e20;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#c3c4bb;
	text-align:left;
	background-image:url();
	background-repeat:repeat-x;
	background-position:top;
}

p {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#d4d7dd;
	text-align:left;
}

a {
	text-decoration:none;
	color:#6b6b6b;
	font-size:14px;
}

a:hover {
	color:#e8e9e9;
}

#homeLink {
	display:block;
	position:absolute;
	width:230px;
	height:60px;
	top:19px;
	left:373px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/tf_logo.png');
	background-position:top;
}

a#homeLink:hover,a#dayLink:hover,a#dayLink2:hover{
	background-position: bottom;
}

#dayLink,#dayLink2 {
	display:block;
	position:absolute;
	width:120px;
	height:40px;
	top:23px;
	left:879px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/d2sa.jpg');
	background-position:top;
}
#dayLink2 {
	top:382px;
	left:40px;
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/d2sb.jpg');
}	

#consoleMonitors {
	position:absolute;
	display:block;
	width:956px;
	height:97px;
	top:1090px;
	left:78px;
}


#bg_01 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_01.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_01 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_01.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:621px;
	z-index:1;
}
#bg_03 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_03.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_03 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_03.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:900px;
	z-index:1;
}
#bg_04 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_04.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_04 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_04.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:1000px;
	z-index:1;
}
#bg_05 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_05.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_05 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_05.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:1000px;
	z-index:1;
}
#bg_06 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_06.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_06 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_06.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:1000px;
	z-index:1;
}
#bg_07 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_07.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_07 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_07.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:1000px;
	z-index:1;
}
#bg_08 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_08.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_08 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_08.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:545px;
	z-index:1;
}
#bg_09 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_09.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_09 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_09.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:800px;
	z-index:1;
}
#bg_10 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_10.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_10 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_10.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:350px;
	z-index:1;
}
#bg_11 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_11.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_11 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_11.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:512px;
	z-index:1;
}
#bg_12 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_12.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	z-index:1;
}

#container_12 {
	background-image:url('https://steamcdn-a.akamaihd.net/apps/tf2/loveandwar/images/bg2_12.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:956px;
	height:536px;
	z-index:1;
}

#testCard {
	position:absolute;
	display:block;
	top:-1px;
	left:53px;
}
#videoFrame {
	position:absolute;
	display:block;
	top:0px;
	left:52px;
}



