#container_01, #content_01 {
	background-image:url('../images/battlefield_01.jpg');
	height:1009px;
}
#container_02, #content_02 {
	background-image:url('../images/battlefield_02.jpg');
	height:1024px;
}
#container_03, #content_03 {
	background-image:url('../images/battlefield_03.jpg');
	height:1040px;
}
#container_04, #content_04 {
	background-image:url('../images/battlefield_04.jpg');
	height:682px;
}
.text {
	color:black;
}
.signature {
	position: relative;
	float:right;
	margin-right:30px;
}
#text_01 {
	width:450px;
	top:816px;
	left:90px;
}
#drill_sgt {
	width:329px;
	height:299px;
	left:117px;
	top:181px;
}
#drill_sgt:hover {
	background:url(../images/drill_sgt_glow.jpg);
}
#football_helm {
	width:348px;
	height:305px;
	right:51px;
	top:347px;
}
#football_helm:hover {
	background:url(../images/football_helm_glow.jpg);
}
#slug {
	width:307px;
	height:410px;
	right:67px;
	top:195px;
	background-position: 50px 69px;
}
#slug:hover {
	background-image:url(../images/slug_glow.jpg);
}
#billycock {
	width:97px;
	height:108px;
	left:100px;
	top:50px;
}
#billycock:hover {
	background-image:url(../images/billycock_glow.jpg);
}
#shako {
	width:103px;
	height:120px;
	left:360px;
	top:4px;
}
#shako:hover {
	background-image:url(../images/shako_glow.jpg);
}
#toque {
	width:132px;
	height:118px;
	right:158px;
	bottom:105px;
}
#toque:hover {
	background-image:url(../images/toque_glow.jpg);
}
#aspect {
	width:312px;
	height:330px;
	left:11px;
	top:342px;
	background-position:right top;
}
#aspect:hover {
	background-image:url(../images/aspect_glow.jpg);
}
#texas {
	width:116px;
	height:94px;
	left:356px;
	top:0px;
}
#texas:hover {
	background-image:url(../images/texas_glow.jpg);
}