@charset "utf-8";
/* CSS Document */

/*@base-url: "https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak";*/



body {
	background-color:#141313;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#cacaca;
	font-size:14px;
	line-height:22px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration:none;
	color:#ffffff;
	font-size:14px;
}

a:hover {
	color:#a82e2e;
}

img {
	border:none;
}



#logoLink {
	display:block;
	position:absolute;
	top:28px;
	left:375px;
	width:220px;
	height:50px;
	background-image:url("https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/logolink.png?v=102");
	background-position:top;
	z-index:2;
}
#logoLink:hover {
	background-position:bottom;
}

#updatelogoLink {
	display:block;
	position:absolute;
	top:128px;
	left:392px;
	width:211px;
	height:118px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/toughbreak_logo_small.png?v=102);
	background-position:top;
}
#updatelogoLink:hover {
	background-position:bottom;
}

/* Asset is a big slab font
.assetheader {
	font-family: 'Asset', serif;
	font-weight: 600;
	font-size:28px;
	text-transform: uppercase;
	letter-spacing:.3px;
	line-height:32px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.assetheadersmaller {
	font-family: 'Asset', serif;
	font-weight: 600;
	font-size:20px;
	text-transform: uppercase;
	letter-spacing:.1px;
	line-height:26px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
*/

.assetheader {
	font-family: 'Yellowtail', serif;
	font-weight: 200;
	font-size:52px;
	letter-spacing:.3px;
	line-height:32px;
	color: #ff9900;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.assetheadersmaller {
	font-family: 'Yellowtail', serif;
	font-weight: 300;
	font-size:32px;
	letter-spacing:.1px;
	line-height:26px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.authoredby {
	font-style:italic;
	
}

.WebMVideoFull
{
    position:absolute;
	top:124px;
	left:70px;
	width: 851px;
    height: 481px;
}

div#preload 
{ 
	display: none; 
}


/* popup video classes for fades */

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}



/* day one */

#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_01.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1240px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_02.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1279px;
	z-index:2;
}

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_03.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:370px;
	z-index:2;
}

#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_04.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:702px;
}

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_05.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1048px;
}

#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_06.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:651px;
}

#bg_06-5 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_06.5.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06-5 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_06.5.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:438px;
}

#bg_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_07.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:833px;
}

#bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_08.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:549px;
}

#bg_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_09.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_09 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_09.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:565px;
}


#bg_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_10.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_10 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_10.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:542px;
}

#bg_11 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_11.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_11 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_11.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:707px;
}

#bg_12 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_12.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_12 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_12.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:610px;
}

#bg_13 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_13.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_13 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_13.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:772px;
}

#bg_14 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_14.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_14 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_14.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:623px;
}

#bg_15 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_15.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
}

#container_15 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_15.jpg?v=103);
	background-position:top center;
	background-repeat:repeat-y;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:5333px;
}

#bg_16 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_16.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_16 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bg_16.jpg?v=103);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:1106px;
}



/* one copy */

#copy_01_01 {
	position:absolute;
	width:660px;
	text-align:left;
	color:#cacaca;
	left:166px;
	top:1100px;
	font-size:16px;
	line-height:24px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_02_01 {
	position:absolute;
	width:660px;
	left: 122px;
	top: 72px;
	color: #333333;
	text-align:center;
}

#copy_02_02 {
	position: absolute;
	width: 660px;
	left: 180px;
	top: 168px;
	text-align: left;
	color: #666666;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_01 {
	position:absolute;
	width:780px;
	left:106px;
	top:0px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_02 {
	position:absolute;
	width:760px;
	left:102px;
	top:50px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_03 {
	position:absolute;
	width:560px;
	left:398px;
	top:152px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_03_04 {
	position:absolute;
	width:480px;
	left:398px;
	top:188px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#stamp_01 {
	position:absolute;
	width:320px;
	left:688px;
	top:168px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#stamp_02 {
	position:absolute;
	width:260px;
	left:688px;
	top:211px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#price {
	display:block;
	position:absolute;
	top:565px;
	left:416px;
	width:165px;
	height:60px;
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/price.png?v=103);
}

	#price:hover {
	background-position:bottom;
}

#copy_05_01 {
	position:absolute;
	width:800px;
	left:80px;
	top:64px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_05_02 {
	position:absolute;
	width:800px;
	left:102px;
	top:116px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_06_01 {
	position:absolute;
	width:340px;
	left: 122px;
	top: 360px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_06_02 {
	position:absolute;
	width:280px;
	left: 122px;
	top: 400px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_caserewards_01 {
	position:absolute;
	width:800px;
	left: 99px;
	top: 55px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_caserewards_02 {
	position:absolute;
	width:800px;
	left: 106px;
	top: 99px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_cosmo_01 {
	position:absolute;
	width:440px;
	left: 126px;
	top: 128px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_cosmo_02 {
	position:absolute;
	width:320px;
	left: 126px;
	top: 166px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


#copy_07_01 {
	position:absolute;
	width:480px;
	left:249px;
	top:166px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_07_02 {
	position:absolute;
	width:620px;
	left:188px;
	top:222px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_11_01 {
	position:absolute;
	width:800px;
	left:96px;
	top:66px;
	text-align:center;
	font-size: 66px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_11_02 {
	position:absolute;
	width:480px;
	left:614px;
	top:400px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_11_03 {
	position:absolute;
	width:230px;
	left:610px;
	top:436px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_11_04 {
	position:absolute;
	width:280px;
	left:610px;
	top:440px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#popup_mannrobics {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/mannrobics.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:610px;
	top:498px;
	border: 1px solid #666666;
}

#copy_12_01 {
	position:absolute;
	width:280px;
	left:110px;
	top:320px;
	text-align:left;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_12_02 {
	position:absolute;
	width:280px;
	left:110px;
	top:358px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_12_03 {
	position:absolute;
	width:280px;
	left:110px;
	top:380px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#popup_badpipes {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/badpipes.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:110px;
	top:478px;
	border: 1px solid #666666;
}

#copy_13_01 {
	position:absolute;
	width:480px;
	left:420px;
	top:310px;
	text-align:left;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_13_02 {
	position:absolute;
	width:280px;
	left:420px;
	top:344px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_13_03 {
	position:absolute;
	width:280px;
	left:420px;
	top:322px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#popup_bronco{
	background-image:url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/bronco.png?v=102);
	position:absolute;
	width:199px;
	height:112px;
	left:420px;
	top:446px;
	border: 1px solid #666666;
}

#copy_14_01 {
	position:absolute;
	width:800px;
	top:544px;
	left:100px;
	text-align:center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#copy_15_01 {
	position:absolute;
	width:720px;
	left:140px;
	top:0px;
	text-align:left;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}


/* slider controls */

.controls:hover{
	opacity: .7;
	cursor: pointer;
	tint: white;
}

/* pyroland */

#pyroland_slider{
	margin-left: auto;
	margin-right: auto;
}

#pyroland_slider_container{
	position: absolute;
	width: 506px;
	top: 188px;
	left: 390px;
	z-index: 1010;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#pyroland_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/next_maps.png);
	position: absolute;
	left: 450px;
	top: 350px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#pyroland_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 350px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

/* warbird */

#warbird_slider{
	margin-left: auto;
	margin-right: auto;
}

#warbird_slider_container{
	position: absolute;
	width: 506px;
	top: 630px;
	left: 42px;
	z-index: 1009;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#warbird_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/next_maps.png);
	position: absolute;
	left: 450px;
	top: 350px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#warbird_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 350px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

/* gentlemanne */

#gentlemanne_slider{
	margin-left: auto;
	margin-right: auto;
}

#gentlemanne_slider_container{
	position: absolute;
	width: 506px;
	top: 264px;
	left: 400px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#gentlemanne_slider_next{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/next_maps.png);
	position: absolute;
	left: 450px;
	top: 350px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}

#gentlemanne_slider_prev{
	background-image: url(https://steamcdn-a.akamaihd.net/apps/tf2/toughbreak/images/previous_maps.png);
	position: absolute;
	left: 38px;
	top: 350px;
	height: 30px;
	width: 29px;
	z-index: 1002;
}


.achievement {
	color:#3e3e3e;
	font-size:14px;
	position:absolute;
	width:236px;
	text-align:left;
	line-height:20px;
	visibility:hidden;
}
.achievement span {
	display:block;
	font-weight:bold;
	font-size:18px;
}
.achc1 {
	left:261px;
}
.achc2 {
	left:606px;
}
#ach1,#ach4 {
	top:289px;
}
#ach2,#ach5 {
	top:375px;
}
#ach3,#ach6 {
	top:461px;
}



.button:hover {
	background-position:bottom;
}




